<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Diamond.Common.Objects" version="536.12.2100.1" targetFramework="net48" />
  <package id="Diamond.Common.Services" version="536.12.2100.1" targetFramework="net48" />
  <package id="Diamond.Common.Utility" version="536.12.2100.1" targetFramework="net48" />
  <package id="Diamond.VR.Libraries" version="536.12.2100.1" targetFramework="net48" />
  <package id="Diamond.VR.UI.Items" version="536.12.2100.1" targetFramework="net48" />
  <package id="Diamond.VR.Web.Items" version="536.12.2100.1" targetFramework="net48" />
  <package id="Diamond_System.IdentityModel.Tokens.Jwt" version="4.0.10819.1000" targetFramework="net48" developmentDependency="true" />
  <package id="IFM.CommonClassesDeploy" version="2021.8.2.100" targetFramework="net48" />
  <package id="IFM.DiamondWebClass" version="2023.4.25.100" targetFramework="net48" />
  <package id="IFM.IFMDiamondServices" version="2014.4.17.100" targetFramework="net48" />
  <package id="IFM.SQLClassesDeploy" version="2020.3.6.100" targetFramework="net48" />
  <package id="IFM.VR.Configuration" version="2022.1.18.815" targetFramework="net48" developmentDependency="true" />
  <package id="IFM.VR.Flags" version="2022.1.18.810" targetFramework="net48" developmentDependency="true" />
  <package id="Insuresoft.RuleEngine.Common" version="536.12.2100.1" targetFramework="net48" />
  <package id="Microsoft.Configuration.ConfigurationBuilders.Base" version="2.0.0" targetFramework="net48" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="11.0.1" targetFramework="net48" />
  <package id="NuGet.Package.Builder" version="1.0.12" targetFramework="net48" developmentDependency="true" />
  <package id="System.Configuration.ConfigurationManager" version="6.0.0" targetFramework="net48" developmentDependency="true" />
  <package id="System.Security.AccessControl" version="6.0.0" targetFramework="net48" developmentDependency="true" />
  <package id="System.Security.Permissions" version="6.0.0" targetFramework="net48" developmentDependency="true" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net48" developmentDependency="true" />
</packages>