<appSettings>
  <add key="UseWCF" value="True" />
  <add key="DiamondLoginCredentials" value="UsernamePassword" />
  <add key="SecurityTokenProviderAssemblyName" value="Diamond.Common.Services" />
  <add key="SecurityTokenProviderClassName" value="SessionStorageSecurityTokenProvider" />
  <add key="VR_PPA_OH_Enabled" value="true" />
  <add key="Task68137_CapitalizeDLN" value="true" />
  <add key="VR_PPA_OH_EarliestAllowedEffectiveDate" value="3/1/2022" />
  <add key="VR_OkayToSaveAIListHistory" value="False" /> <!--Yes/No, True/False; default is True so only needed if it should be changed to False; need to turn off w/ 538-->
	<add key="VR_PPA_NewRAPASymbols_Settings" value="True,1/1/2025,351" />
</appSettings>