<appSettings>
  <add key="UseWCF" value="True" />
  <add key="DiamondLoginCredentials" value="UsernamePassword" />
  <add key="SecurityTokenProviderAssemblyName" value="Diamond.Common.Services" />
  <add key="SecurityTokenProviderClassName" value="SessionStorageSecurityTokenProvider" />

  <add key="conn" value="Server=ifmeomtest2\ifmeomtest2sql;UID=ifmdsn;PWD=ifmdsn;Initial Catalog=ifmtester;Max Pool Size=400;" />
  <add key="connFNOL" value="Server=ifmeomtest2\ifmeomtest2sql;UID=ifmdsn;PWD=ifmdsn;Initial Catalog=FNOL;Max Pool Size=400;" />
  <add key="connQQ" value="Server=ifmeomtest2;UID=ifmdsn;PWD=ifmdsn;Initial Catalog=QuickQuote;Max Pool Size=400;" />
  <add key="connDiamond" value="Server=ifmeomtest2;UID=ifmdsn;PWD=ifmdsn;Initial Catalog=Diamond;Max Pool Size=400;" />
  <add key="connDiamondReports" value="Server=ifmeomtest2;UID=ifmdsn;PWD=ifmdsn;Initial Catalog=IFM_Reports;Max Pool Size=400;" />
  <add key="connMemberPortal" value="Server=ifmeomtest2\ifmeomtest2sql;UID=memberportal;PWD=memberportal;Initial Catalog=MPortal_Dev;Max Pool Size=400;" />
  <add key="CRS.ComparativeRatingService" value="http://IFMEOMTEST2/IntegrationServices/ComparativeRatingService.svc" />

  <!--added 9/15/2016 for IFM_CreditCardProcessing library-->
  <!--added 9/15/2016 for Moneris-->
  <add key="Moneris_CreditCardTransaction_StoreId" value="monusqa002" />
  <!--default value is "monusqa002" when TestOrProd = "Test"-->
  <add key="Moneris_CreditCardTransaction_API_Token" value="qatoken" />
  <!--default value is "qatoken" when TestOrProd = "Test"-->
  <add key="Moneris_CreditCardTransaction_CryptType" value="7" />
  <!--valid values are 1 through 9; default is 7 (SSL-enabled merchant)-->
  <add key="CreditCardVendor" value="Fiserv" />
  <!--added 9/15/2016; valid values are Paradata and Moneris; default is Paradata; updated 5/31/2020 from Moneris to Fiserv-->
  <add key="WebSupportEmailAddress" value="mamonett@indianafarmers.com" />
  <!--<add key="OnlinePaymentFromAddress" value="IFM_Online_Payments@indianafarmers.com"/>-->
  <!--already listed above-->
  <add key="PaymentQuestions_TelephoneNumber_Local" value="(317) 587-0753" />
  <add key="PaymentQuestions_TelephoneNumber_TollFree" value="(888) 210-0382" />
  <!--end IFM_CreditCardProcess library keys-->
  <!--RCC KEYS-->
  <add key="RCC_CharactersToReplace" value="&amp;=*=%26" />
  <add key="RccErrorEmail" value="mamonett@indianafarmers.com" />
  <add key="rccTo" value="mamonett@indianafarmers.com" />
  <add key="RCC_PayPlanChanges_JustProcessUpdates_Default" value="False" />
  <!--added 12/4/2014 for PayPlanChanges auto-process logic on Intranet-->
  <add key="RCC_UsePolicyNumberDiscretionaryField" value="NO" />
  <add key="RCC_UseLuhnAlgorithmToVerifyCC" value="TRUE" />
  <add key="RCC_IsCCExpirationBundledTogether" value="TRUE" />
  <add key="RCC_VendorCryptType" value="2" />
  <add key="RCC_Host" value="esplusqa.moneris.com" />
  <add key="RCC_StoreID" value="monusqa002" />
  <add key="RCC_ApiToken" value="qatoken" />
  <add key="monerisStoreID" value="monusqa002" />
  <add key="monerisApiToken" value="qatoken" />
  <add key="copyITforCardExpReminder" value="Yes" />
  <!--only in production right now-->
  <!--RCC KEYS-->
  <add key="paymentErrorEmailAddress" value="mamonett@indianafarmers.com" />
  <add key="ClientCommunitiesEmailAddress" value="mamonett@indianafarmers.com" />
  <!--added 3/20/2017-->
  <add key="mailhost" value="indianafarmers-com.mail.protection.outlook.com" />
  <add key="UseSmtpClientMaxIdleTime" value="YES" />
  <add key="SmtpClientMaxIdleTime" value="2" />
  <add key="RelayMailhost" value="indianafarmers-com.mail.protection.outlook.com" />
  <add key="mailhostExternal" value="indianafarmers-com.mail.protection.outlook.com" />
  <add key="ResendMailHosts" value="indianafarmers-com.mail.protection.outlook.com" />
 <add key="TestOrProd" value="Test" />
  <!--Not directly used anywhere in this project but likely is by other libraries-->
  <add key="QuickQuote_StaticDataFile" value="DiamondStaticData.xml" />
  <add key="ompDiamondUserName" value="PrintServices" />
  <add key="ompDiamondUserPassword" value="PrintServices" />
  <add key="ompEndorsementUserName" value="Member" />
  <add key="ompEndorsementUserPassword" value="MemberPortal" />
  <add key="ompClaimSubmittedEmailNotificationEmail" value="mamonett@indianafarmers.com" />
  <add key="ompHomeOfficeAgencyCodes" value="6000-3000" />
  <add key="ompHomeOfficeAgencyWebSiteAddress" value="http://indianafarmers.com" />
  <add key="ompHomeOfficeAgencyEmailAddress" value="awells@indianafarmers.com" />
  <add key="ompHomeOfficeAgencyPhoneNumber" value="(317)846-4211" />
  <add key="parachute_EffectiveDate" value="10/01/2018" />
  <add key="errorEmail" value="mamonett@indianafarmers.com" />
  <!--added 3/26/2018-->
  <add key="CreditCard_RCC_ServicePoint_SecurityProtocol" value="TLS 1.2" />
  <add key="Vantiv_CreditCardTransaction_AccountID" value="1050135" />
  <add key="Vantiv_CreditCardTransaction_AccountToken" value="2665B7D98C235F5271153693FB33802CF2C370793B2D80008BA65A59D51492D1EEEF6401" />
  <add key="Vantiv_CreditCardTransaction_ApplicationID" value="8692" />
  <add key="Vantiv_CreditCardTransaction_AcceptorID" value="3928907" />
  <add key="Vantiv_CreditCardTransaction_Xml_Url" value="https://certtransaction.elementexpress.com" />
  <add key="Vantiv_CreditCardTransaction_OrderId_Append_IFM_TransactionId" value="True" />
  <!--valid values are True/False or Yes/No; default is Moneris_CreditCardTransaction_OrderId_Append_IFM_TransactionId-->
  <add key="Vantiv_CreditCardTransaction_OrderId_Append_PolicyNumber" value="True" />
  <!--valid values are True/False or Yes/No; default is Moneris_CreditCardTransaction_OrderId_Append_PolicyNumber-->
  <add key="Vantiv_RCC_AccountID" value="1050135" />
  <add key="Vantiv_RCC_AccountToken" value="2665B7D98C235F5271153693FB33802CF2C370793B2D80008BA65A59D51492D1EEEF6401" />
  <add key="Vantiv_RCC_ApplicationID" value="8692" />
  <add key="Vantiv_RCC_AcceptorID" value="3928907" />
  <add key="Vantiv_CreditCardServices_Xml_Url" value="https://certservices.elementexpress.com" />
  <!--for RCC-->
  <add key="Vantiv_CreditCardReporting_Xml_Url" value="https://certreporting.elementexpress.com" />
  <!--for Reporting/Queries-->
  <add key="RecurringCreditCardVendor" value="Vantiv" />
  <!--valid values are PayTrace, Moneris, and Vantiv; default is Moneris; PayTrace should no longer be needed at time of coding; 5/31/2020 note: not ready to use Fiserv yet-->
  <add key="RccSetup_OkayToSendConfirmationEmailsToStaffWhenTesting" value="False" />
  <!--valid values are True/False or Yes/No; default is False, in which case emails are not sent when testing-->
  <!--OnBase-->
  <!--Prod-->
  <!-- BE SURE TO UPDATE diaServiceModelBindings AND diaServiceModelClient AS WELL!!!-->
  <!--<add key="ifmDataServices_OnBaseServiceEndpoint" value="https://ifmobweb1prod.ifm.ifmic.com/IFITST_OnBaseServices/SoapService.svc/SOAP11"/>
    <add key="onBaseSoapUsername" value="OBWSP"/>
    <add key="onBaseSoapPass" value="IFIProd!"/>-->
  <!--Test-->
  <!-- BE SURE TO UPDATE diaServiceModelBindings AND diaServiceModelClient AS WELL!!!-->
  <add key="ifmDataServices_OnBaseServiceEndpoint" value="http://172.26.16.13/IFITST_OnBaseServices/SoapService.svc/SOAP11" />
  <add key="onBaseSoapUsername" value="" />
  <add key="onBaseSoapPass" value="" />
  <!--End OnBase-->
  <add key="aspnet:MaxJsonLength" value="2147483644" />
  <add key="OMP_RemoveFurtureImage_Billing_from_currentImage" value="true" />
  <!--added 5/31/2020 for Fiserv-->
  <!--note: Fiserv base keys will be used for CC and RCC; can configure most to work different per ccTranType by creating a new key w/ the same name but "_CreditCardTransaction" or "_RCC" appended to the end-->
  <!--<add key="Fiserv_Auth_URL" value="https://cie-appauth.fiservapps.com/connect/token" />-->
  <add key="Fiserv_Auth_URL" value="https://uat-appauth.fiservapps.com/connect/token" />
  <!--base auth URL doesn't have "connect/token", but we can include it in here because that's currently the only one we're using (not using base url anywhere)-->
  <!--for OrangeHelp test account-->
  <!--<add key="Fiserv_Auth_ClientId" value="68C75B20-41D0-4261-B440-9BFA687B52E2"/>
    <add key="Fiserv_Auth_ClientSecretKey" value="ghs77ssWdj!123asd144gh321Y%L}X$kUqx"/>
    <add key="Fiserv_APIKey" value="OHTApiKey"/>
    <add key="Fiserv_Session_UserId_MaxLength" value="30"/>
    <add key="Fiserv_UseTestBillingAccount" value="True"/>
    <add key="Fiserv_TestBillingAccountToUse" value="1200000000305"/>-->
  <!--Fiserv_UseTestBillingAccount dependent on IsTestCreditCardEnvironment = True; should only be needed for Test while we're working w/ the Orange Help Test Biller, which only allows known BillingAccounts-->
  <!--Fiserv_TestBillingAccountToUse dependent on Fiserv_UseTestBillingAccount = True; see PaymentTesting_V1.0.xlsx for examples-->
  <!--end for OrangeHelp test account-->
  <!--for IFM test account (added 6/22/2020)-->
  <add key="Fiserv_Auth_ClientId" value="ff8e86d0-6a7f-42be-bbad-2209d54e16a5" />
  <add key="Fiserv_Auth_ClientSecretKey" value="mnvghdjebfdwe537645gjxxgsjhfchfsdd" />
  <add key="Fiserv_APIKey" value="IFIRegisteredWeb" />
  <add key="Fiserv_Session_UserId_MaxLength" value="30" />
  <!--6/26/2020 note: have to temporarily change from 50 back to 30 until Fiserv can fix the issue-->
  <add key="Fiserv_UseTestBillingAccount" value="False" />
  <add key="Fiserv_TestBillingAccountToUse" value="" />
  <!--valid values for IFM test account APIKey: IFIGuestWeb, IFIRegisteredWeb, IFIRecOneTimePay, IFICSRPortal, IFIInsAgentPortal, IFIAgencySweep-->
  <!--end for IFM test account-->
  <add key="Fiserv_Auth_Scope" value="BMXPayAPI" />
  <add key="Fiserv_API_URL" value="https://billerpayapi.clienttestmatrix.com" />
  <add key="Fiserv_UIChannel" value="web" />
  <add key="Fiserv_UseIframeForCreditCardInfo" value="True" />
  <!--note: first dependent on CreditCardVendor being set to Fiserv-->
  <add key="PaymentConfirmationEmail_Sender" value="" />
  <!--added for Fiserv since they will send confirmation email when email address is provided; valid values: None, IndianaFarmers, Vendor, and Both; nothing or value of None will use default (likely IndianaFarmers but possibly Both)-->
  <!--<add key="Fiserv_UseTestBillingAccount" value="True"/>-->
  <!--dependent on IsTestCreditCardEnvironment = True; should only be needed for Test while we're working w/ the Orange Help Test Biller, which only allows known BillingAccounts-->
  <!--<add key="Fiserv_TestBillingAccountToUse" value="1200000000305"/>-->
  <!--dependent on Fiserv_UseTestBillingAccount = True; see PaymentTesting_V1.0.xlsx for examples-->
  <add key="Fiserv_Updates_SendEmailsWithBeforeAndAfterInfo" value="True" />
  <!--added 5/21/2020; valid values are True/False or Yes/No; default is No/False-->
  <add key="ECheck_SendRealtimePaymentsToVendor" value="True" />
  <!--added 5/26/2020; valid values are True/False or Yes/No; default is No/False; currently reliant on CreditCardVendor = Fiserv-->
  <add key="Fiserv_DefaultAgentId" value="" />
  <!--added 5/26/2020-->
  <add key="Fiserv_UsePaymentInterfaceForAgentId" value="True" />
  <!--added 5/26/2020; valid values are True/False or Yes/No; default is No/False-->
  <add key="Fiserv_UseIframeForRecurringCreditCardInfo" value="True" />
  <!--added 5/28/2020; note: first dependent on RecurringCreditCardVendor being set to Fiserv; may have to assume Fiserv if Fiserv_UseIframeForCreditCardInfo comes back True even if RecurringCreditCardVendor isn't Fiserv... since they may be used together in spots (would have to store w/ Fiserv if all the UI passes in is a fundingAccountToken and we don't have the actual info-->
  <!--note: could also have useIframe keys for Bank info, but that would only work for Fiserv walletItems and not entry of eft payplan info... since that currently needs to be stored in Diamond-->
  <add key="Payments_AllowUseOfWalletItems" value="True" />
  <!--added 5/28/2020; valid values are True/False or Yes/No; default is No/False; 8/19/2020 note: can now have different value based on PaymentInterface (added specifically for MemberPortalApi since it's used by MemberPortal and OneView... pmtInterfaces: MemberPortalSite/OneView-->
  <add key="Payments_AllowUseOfWalletItems_MemberPortalSite" value="False" />
  <add key="Payments_AllowUseOfWalletItems_OneView" value="False" />
  <add key="Payments_AllowScheduledPayments" value="True" />
  <!--added 5/28/2020; valid values are True/False or Yes/No; default is No/False; 8/19/2020 note: can now have different value based on PaymentInterface (added specifically for MemberPortalApi since it's used by MemberPortal and OneView... pmtInterfaces: MemberPortalSite/OneView-->
  <add key="Payments_AllowScheduledPayments_MemberPortalSite" value="False" />
  <add key="Payments_AllowScheduledPayments_OneView" value="False" />
  <!--<add key="Fiserv_Session_UserId_MaxLength" value="30"/>-->
  <!--added 6/11/2020; applies to Orange Help test account; our account should allow for 50-->
  <!--6/19/2020 note: the keys below can have different values for CC/RCC (CreditCardTransaction/RCC) or PaymentType (CreditCard/EFT/ECheck); should not append both because only 1 would be checked... if CC, just send CC/RCC; if eCheck, just send pmtType-->
  <add key="Fiserv_ImmediatePaymentRequestBody_Default_TransactionNote" value="BILL_PAYMENT" />
  <!--added 6/19/2020; not required-->
  <add key="Fiserv_ImmediatePaymentRequestBody_Default_PaymentType" value="BILL_PAYMENT" />
  <!--added 6/19/2020; required; has to be one of Fiserv's Enum values-->
  <add key="Fiserv_ImmediatePaymentRequestBody_Default_AllowDuplicatePayment" value="True" />
  <!--added 6/19/2020; valid values are True/False or Yes/No; default is No/False; okay to set to True for Test but should probably be False in Prod unless maybe RCC (since we have some that fail because they're identified as duplicates... same card info and amount within 25 transactions)-->
  <add key="Fiserv_RealTimePaymentNotification_SendConfirmationEmail" value="True" />
  <!--added 6/22/2020; valid values are True/False or Yes/No; default is No/False; can have different keys w/ different values for PaymentType (CreditCard/EFT/ECheck; text would be appended to the end; default key will be used when key for specified paymentType is missing); note: even if True, will need PaymentConfirmationEmail_Sender to allow for IFM emails in order to Send-->
  <add key="Fiserv_ImmediatePaymentRequestBody_AddPolicyNumberToPaymentCustomData" value="True" />
  <!--added 6/26/2020; valid values are True/False or Yes/No; default is Yes/True, so key would be needed to turn off-->
  <add key="Payments_AllowSplitPayments" value="True" />
  <!--added 6/30/2020; valid values are True/False or Yes/No; default is No/False; 8/19/2020 note: can now have different value based on PaymentInterface (added specifically for MemberPortalApi since it's used by MemberPortal and OneView... pmtInterfaces: MemberPortalSite/OneView-->
  <add key="Payments_AllowSplitPayments_MemberPortalSite" value="False" />
  <add key="Payments_AllowSplitPayments_OneView" value="True" />
  <add key="Payments_NumberOfPaymentMethodsToAllowOnSplitPayments" value="3" />
  <!--added 6/30/2020; only used if AllowSplitPayments is true; 0 means unlimited; any other value > 0 would represent the max # of payment methods to allow; changed from 0 to 3 on 7/9/2020; 8/19/2020 note: can now have different value based on PaymentInterface (added specifically for MemberPortalApi since it's used by MemberPortal and OneView... pmtInterfaces: MemberPortalSite/OneView-->
  <add key="Payments_NumberOfPaymentMethodsToAllowOnSplitPayments_MemberPortalSite" value="0" />
  <add key="Payments_NumberOfPaymentMethodsToAllowOnSplitPayments_OneView" value="3" />
  <add key="Payments_NumberOfPoliciesToAllowOnSplitPayments" value="1" />
  <!--added 7/9/2020; only used if AllowSplitPayments is true; 0 means unlimited; any other value > 0 would represent the max # of policies to allow; 8/19/2020 note: can now have different value based on PaymentInterface (added specifically for MemberPortalApi since it's used by MemberPortal and OneView... pmtInterfaces: MemberPortalSite/OneView-->
  <add key="Payments_NumberOfPoliciesToAllowOnSplitPayments_MemberPortalSite" value="0" />
  <add key="Payments_NumberOfPoliciesToAllowOnSplitPayments_OneView" value="1" />
  <add key="Payments_MaximumVendorPaymentAmount" value="50000" />
  <add key="Fiserv_RCC_DeletePreviousWalletItemOnCardNumberChange" value="True" />
  <!--added 7/6/2020; valid values are True/False or Yes/No; default is No/False-->
  <add key="Fiserv_RCC_DeleteWalletItemOnAccountDelete" value="True" />
  <!--added 7/6/2020; valid values are True/False or Yes/No; default is No/False-->
  <add key="Fiserv_RCC_DeleteWalletItemOnFailedAccountInsert" value="True" />
  <!--added 7/9/2020; valid values are True/False or Yes/No; default is No/False-->
  <add key="Fiserv_WalletItem_DefaultFundingSourceFlag_NeverUpdate" value="True" />
  <!--added 7/15/2020; valid values are True/False or Yes/No; default is No/False-->
  <add key="Fiserv_MemberPortal_ReturnWalletsWhenThereAreNoWalletItems" value="True" />
  <!--added 7/20/2020; valid values are True/False or Yes/No; default is No/False-->
  <add key="Fiserv_CreditCardPayment_Zip_NeverSetWhenUsingIframe" value="True" />
  <!--added 7/21/2020; valid values are True/False or Yes/No; default is No/False-->
  <add key="DisableRccFunctionality" value="False" />
  <!--added 7/29/2020; valid values are True/False or Yes/No; default is No/False; can set to True to disable any changes (create/update/delete)... would want to use this during RCC data migration-->
  <add key="Fiserv_Iframe_URL_QueryString" value="?billershortname=IFI&amp;languageIndicator=en-us" />
  <!--added 7/31/2020-->
  <add key="Fiserv_BankWalletItems_SaveEncryptedNumbers" value="True" />
  <!--added 8/22/2020; valid values are True/False or Yes/No; default is No/False-->
  <add key="Fiserv_Auth_ClientSecretKey_UseUTF8" value="False" />
  <!--added 8/25/2020; valid values are True/False or Yes/No; default is No/False-->
  <add key="Fiserv_Auth_ClientSecretKey_UseHttpUtilityForUrlEncode" value="False" />
  <!--added 8/25/2020; valid values are True/False or Yes/No; default is No/False-->
  <add key="Fiserv_Auth_ClientSecretKey_ParamName" value="client_secret" />
  <!--added 8/25/2020; default is hashedsecret; Fiserv could also use client_secret-->
  <add key="Fiserv_Auth_ClientSecretKey_UseEncryption" value="False" />
  <!--added 8/26/2020; valid values are True/False or Yes/No; default is Yes/True-->
  <add key="Fiserv_SendErrorEmailOnAllServiceCallFailures" value="False" />
  <!--added 8/18/2020 for test troubleshooting; valid values are True/False or Yes/No; default is No/False (9/11/2020 note: default is actually Yes/True)-->
  <add key="Fiserv_ReplaceApostrophesInServiceNameFields" value="True" />
  <!--added 9/11/2020; valid values are True/False or Yes/No; default is No/False; 9/15/2020: no longer used-->
  <add key="Fiserv_ApostrophesInServiceNameFields_ReplacementText" value="" />
  <!--added 9/11/2020; tried "\'" and "''", but neither worked; 9/15/2020: no longer used-->
  <add key="FiservErrorsSupportEmailAddress" value="dmink@indianafarmers.com" />
  <!--added 9/11/2020-->
  <!--added 9/15/2020; add numbered instances of Fiserv_ServiceNameField_SpecialChar (can optionally use Fiserv_ServiceNameField_SpecialCharsToRemove key(s) if there is no replacement text; corresponding numbered instance of Fiserv_ServiceNameField_ReplacementChar will be used for replacement text (replaced w/ empty string if missing); can also append FiservServiceNameField value if specific to one field (i.e. "_FirstName", "_LastName")-->
  <!--<add key="Fiserv_ServiceNameField_SpecialChar1" value=""/>
    <add key="Fiserv_ServiceNameField_ReplacementChar1" value=""/>-->
  <add key="Fiserv_ServiceNameField_SpecialCharsToRemove" value="'sp#sp/sp\sp|sp`sp~sp!sp@sp$sp%sp^sp*sp(sp)sp=sp+sp:sp&quot;sp&lt;sp&gt;sp[sp]sp{sp}sp;" />
  <!--delimiter: "sp"; applies to all service fields that use method (note: &apos; = "'", &quot; = double-quote, &lt; = "<", &gt; = ">"); can have additional keys for specific fields by appending FiservServiceNameField (i.e. "_FirstName", "_LastName")-->
  <add key="Fiserv_ServiceNameField_SpecialCharsToRemove_FirstName" value=".sp&amp;sp_sp,sp0sp1sp2sp3sp4sp5sp6sp7sp8sp9" />
  <!--delimiter: "sp"; applies only to FirstName (note: &amp; = "&")-->
  <add key="Fiserv_ServiceNameField_SpecialChars_MaxMissingKeysInARow" value="1" />
  <!--integer; this will control how many consecutive sequence #s can be missing keys before the program quits looking for more; all keys are evaluated even if they're specific to one field so the # used can only be in 1 key-->
  <!--<add key="Fiserv_ServiceNameField_SpecialChar1" value="#"/>
    <add key="Fiserv_ServiceNameField_SpecialChar2" value="/"/>
    <add key="Fiserv_ServiceNameField_SpecialChar3" value="\"/>
    <add key="Fiserv_ServiceNameField_SpecialChar4" value="|"/>-->
  <add key="Fiserv_BillingFormsStartDate" value="10/30/2020" />
  <add key="Payments_EmailAddressToUseForTemporaryCardWalletItemUsedToPayMultiplePolicies" value="TestFiservTempWalletItems@indianafarmers.com" />
  <!--added 9/16/2020; note: can have different value based on PaymentInterface (added specifically for MemberPortalApi since it's used by MemberPortal and OneView... pmtInterfaces: MemberPortalSite/OneView-->
  <add key="Payments_UseTemporaryWalletItemToPayMultiplePoliciesWithSameCard" value="False" />
  <!--added 9/16/2020; valid values are True/False or Yes/No; default is No/False; would 1st be dependent on Fiserv_UseIframeForCreditCardInfo being True (else would always return False); note: can have different value based on PaymentInterface (added specifically for MemberPortalApi since it's used by MemberPortal and OneView... pmtInterfaces: MemberPortalSite/OneView-->
  <!--added 6/21/2020 just in case we need it for eChecks or something and it's not passed in-->
  <add key="Diamond_Payment_Username" value="" />
  <add key="Diamond_Payment_UserId" value="" />
  <add key="Diamond_Payment_UserLoginDomain" value="ifm.ifmic" />
  <!--<add key="Diamond_IVR_Payment_Username" value="IVR_User"/>
    <add key="Diamond_IVR_Payment_UserId" value="5538"/>
    <add key="Diamond_IVR_Payment_UserLoginDomain" value="ifm.ifmic"/>-->
  <add key="DefaultExcludeFromBankFileOption" value="True" />
  <add key="CreateEftAccountOnExcludeFromBankFile" value="True" />
  <add key="VR_OkayToOrderThirdPartyReportsOnEndorsementRate" value="True" />
  <!--added 4/18/2019; Yes/No, True/False; default is True so only needed if it should be changed to False; updated 5/17/2019 to not attempt any 3rd party report ordering for Endorsements if no report types are available (Credit, Mvr, and Clue are all False)-->
  <add key="VR_OkayToOrderCreditReportOnEndorsementRate" value="True" />
  <!--added 5/17/2019; Yes/No, True/False; default is True so only needed if it should be changed to False; dependent on VR_OkayToOrderThirdPartyReportsOnEndorsementRate being True 1st-->
  <add key="VR_OkayToOrderMvrReportOnEndorsementRate" value="True" />
  <!--added 5/17/2019; Yes/No, True/False; default is True so only needed if it should be changed to False; dependent on VR_OkayToOrderThirdPartyReportsOnEndorsementRate being True 1st-->
  <add key="VR_OkayToOrderClueReportOnEndorsementRate" value="False" />
  <add key="VR_OkayToOrderClueReportOnEndorsementRate_PPA" value="True" />
  <!--added 3/13/2020; Yes/No, True/False; default is True so only needed if it should be changed to False; dependent on VR_OkayToOrderThirdPartyReportsOnEndorsementRate being True 1st; note: LOB-specific keys can be used to override base key value; 3/17/2020 - needed since it will be an exception to the base value-->
  <!--<add key="VR_OkayToOrderClueReportOnEndorsementRate_HOM" value="False"/>-->
  <!--added 3/13/2020; Yes/No, True/False; default is True so only needed if it should be changed to False; dependent on VR_OkayToOrderThirdPartyReportsOnEndorsementRate being True 1st; note: LOB-specific keys can be used to override base key value; removed 3/17/2020 - not needed since it will take base value-->
  <!--<add key="VR_OkayToOrderClueReportOnEndorsementRate_DFR" value="False"/>-->
  <!--added 3/13/2020; Yes/No, True/False; default is True so only needed if it should be changed to False; dependent on VR_OkayToOrderThirdPartyReportsOnEndorsementRate being True 1st; note: LOB-specific keys can be used to override base key value; removed 3/17/2020 - not needed since it will take base value-->
  <!--added 5/17/2019; Yes/No, True/False; default is True so only needed if it should be changed to False; dependent on VR_OkayToOrderThirdPartyReportsOnEndorsementRate being True 1st-->
  <add key="VR_Endorsements_Auto_OnlyOrderThirdPartyReportsOnNewDrivers" value="True" />
  <!--added 9/13/2019; Yes/No, True/False; default is True so only needed if it should be changed to False; dependent on VR_OkayToOrderThirdPartyReportsOnEndorsementRate being True 1st-->
  <add key="VR_Endorsements_Property_OnlyOrderThirdPartyReportsOnNewApplicants" value="True" />
  <!--added 9/13/2019; Yes/No, True/False; default is True so only needed if it should be changed to False; dependent on VR_OkayToOrderThirdPartyReportsOnEndorsementRate being True 1st-->
  <add key="VR_Endorsements_OnlyOrderThirdPartyReportsOnNewDriversOrApplicants" value="True" />
  <!--added 7/24/2020; valid values are True/False or Yes/No; default is No/False-->
  <add key="VR_CreateNewEndorsementsAsQuotes" value="False" />
  <add key="VR_ConsiderEndorsementQuoteStatusAsPending" value="True" />
  <add key="VR_Endorsements_AllowDFRSTP" value="True" />
  <add key="VR_Endorsements_AllowTransactionEffectiveDateChange" value="True" />
  <add key="VR_Endorsement_Past_CreateDateMin" value="-30" />
  <add key="VR_Endorsement_Future_CreateDateMax" value="25" />
  <add key="VR_LOBsReadyForEndorsements" value="PPA,HOM,DFR,FAR,CAP" />
  <add key="PolicyInquiryAPIEndpoint" value="http://ifmeomtest2:1079"/>
  <add key="DiamondClaimsFNOL_ReportedDate_UseLossDate" value="YES"/>  <!--Yes or No; will use current date if No-->
  <add key="DiamondClaimsFNOL_OmitInsuredClaimants" value="NO"/>  <!--Yes or No (defaulted to No so code would add them)-->
	<add key="webPortalIsLive" value="true" />
	<!-- Adjuster IDs -->
	<add key="FNOLInsideAdjusterID" value="134" />
	<add key="FNOLAdministratorID" value="135" />
	<add key="FNOLClaimOfficeID" value="1" />
	<add key="FNOLSafeliteAdmins" value="mabut|limor|erwra|paqui" />
	<add key="TestOrProd" value="Test" />
	<add key="LossReportingEmail" value="bbukka@indianafarmers.com" />
	<add key="LossReportingAttachments" value="C:\Temp\FNOLAttachments\LossReporting\" />
	<add key="LossReportingMaxAttachmentSize" value="7340032" />
	<add key="BadAttachmentExtensions" value=".ZIP,.EXE,.VBS,.DLL,.JS,.BAT,.PIF,.RAR,.SCR,.SHS,.ADE,.ADP,.BAS,.CHM,.CMD,.COM,.CPL,.CRT,.HLP,.HTA,.INF,.INS,.ISP,.JSE,.LNK,.MDB,.MDE,.MSC,.MSI,.MSP,.MST,.PCD,.REG,.SCT,.SHB,.SHS,.VB,.VBE,.WSC,.WSF,.WSH" />
	<add key="DiamondClaimsFNOL_PolicyPrefixesToCheckForPackageParts" value="CPP|BOP|WCP|CAP|CGL|CPR|CIM|CRM|FAR|CUP|PUP|FUP" />
	<add key="FNOLInsideAdjusterID" value="134" />
	<add key="FNOLAdministratorID" value="135" />
	<add key="FNOLClaimOfficeID" value="1" />
	<add key="TestOrProd" value="Test"/>
<add key="DECFolder" value="c:\temp\FNOLAttachments\DECS\" />
  <add key="FNOLCA_CSU_Email" value="*Claims_Admin_Group@IndianaFarmers.com"/>
	<add key="FNOLClaimAssign_LossReportingEmailAddress" value="bbukka@Indianafarmers.com"/>
	  <!--value="mbutler@IndianaFarmers.com"/>-->
<add key="FNOLCA_SendCopyOfAssignmentEmail" value="True"/>
<add key="FNOLCA_CopyOfAssignment_EmailAddress" value="FNOLSubmissions@IndianaFarmers.com"/>
 <add key="FNOLCA_EnableCATThirdPartyEmails" value="TRUE"/>
	<add key="IFMDataServices_EndPointBaseUrl" value="http://ifmeomtest2:1080/" />
   <add key="LossReportingErrorEmail" value="bbukka@indianafarmers.com"/>

  <add key="AutomaticallyPostDiaPayments" value="YES" />
  <add key="UseAutomaticPostTimes" value="YES" />
  <add key="AutomaticPostStartTime" value="7:00" />
  <add key="AutomaticPostEndTime" value="17:59" />
  <add key="UseRAPAApiForVehicleSymbolLookup" value="true"/>

  <add key="SnapLogicEodUrl" value="https://ifmsnapdev/gateway/eod/diamondeodfinished?env=eomtest2"/>
  
  <add key="DiamondClaimsFNOL_SetLnImageNoteProps" value="NO" /><!--Yes/No; True/False-->
  <add key="DiamondClaimsFNOL_SetLnImageNoteProps_OnlyIfKeyExists" value="NO" /><!--Yes/No; True/False; if True/Yes, will ignore Diamond props that don't have corresponding keys; if False/No, will always set Diamond props to at least default values-->
  <add key="DiamondClaimsFNOL_LnImageNotesDefault" value=""/><!--string-->
  <add key="DiamondClaimsFNOL_LnImageNotesTypeIdDefault" value=""/><!--integer-->
  <add key="DiamondClaimsFNOL_LnImageNoteTitleDefault" value=""/><!--string-->
	<!--added 9/23/2024-->
<add key="CalculateFeeAmountOnCreditCardPayments" value="True"/> <!--valid values are True/False or Yes/No; default is No/False-->
<add key="CalculateFeeAmountOnCreditCardPayments_Date" value="9/23/2024"/>
	<!--specific to scheduled payments; only checked if CalculateFeeAmountOnCreditCardPayments is True/Yes; if missing or invalid, current date would be used-->
	<!--added 10/15/2024-->
<add key="CalculateFeeAmountOnCreditCardPayments_UseBackupLogicIfNeeded" value="True"/> <!--valid values are True/False or Yes/No; default is No/False-->
<add key="CalculateFeeAmountOnCreditCardPayments_PercentageForBackupLogic" value="3"/> <!--use the actual percentage on not the decimal (i.e. 3% instead of .03) - logic will convert as needed; will default to 3 if CalculateFeeAmountOnCreditCardPayments_UseBackupLogicIfNeeded is True but not % is found-->
<add key="RestrictCreditCardsForRecurringPayments_Date" value="11/07/2024"/>
	<add key="VR_PPA_OH_Enabled" value="true" />
	<add key="Task68137_CapitalizeDLN" value="true" />
	<add key="VR_PPA_OH_EarliestAllowedEffectiveDate" value="3/1/2022" />
<add key="VR_OkayToSaveAIListHistory" value="False" /> <!--Yes/No, True/False; default is True so only needed if it should be changed to False; need to turn off w/ 538-->
	<add key="VR_PPA_NewRAPASymbols_Settings" value="True,1/1/2025,351" />
</appSettings>