<?xml version="1.0" encoding="utf-8"?>

<client>
  <endpoint address="http://ifmdia/Diamond/AccountingService.svc"
    behaviorConfiguration="DiamondEndpointBehavior" binding="basicHttpBinding"
    bindingConfiguration="basicHttpBinding" contract="Diamond.Common.Services.Interfaces.IAccountingService"
    name="AccountingService" />
  <endpoint address="http://ifmdia/Diamond/AdditionalInterestService.svc"
    behaviorConfiguration="DiamondEndpointBehavior" binding="basicHttpBinding"
    bindingConfiguration="basicHttpBinding" contract="Diamond.Common.Services.Interfaces.IAdditionalInterestService"
    name="AdditionalInterestService" />
  <endpoint address="http://ifmdia/Diamond/AdministrationService.svc"
    behaviorConfiguration="DiamondEndpointBehavior" binding="basicHttpBinding"
    bindingConfiguration="basicHttpBinding" contract="Diamond.Common.Services.Interfaces.IAdministrationService"
    name="AdministrationService" />
  <endpoint address="http://ifmdia/Diamond/AgencyAdministrationService.svc"
    behaviorConfiguration="DiamondEndpointBehavior" binding="basicHttpBinding"
    bindingConfiguration="basicHttpBinding" contract="Diamond.Common.Services.Interfaces.IAgencyAdministrationService"
    name="AgencyAdministrationService" />
  <endpoint address="http://ifmdia/Diamond/AttachmentService.svc/compression"
    behaviorConfiguration="DiamondEndpointBehavior" binding="customBinding"
    bindingConfiguration="CompressedHttpBinding" contract="Diamond.Common.Services.Interfaces.IAttachmentService"
    name="AttachmentService" />
  <endpoint address="http://ifmdia/Diamond/AutoService.svc"
    behaviorConfiguration="DiamondEndpointBehavior" binding="basicHttpBinding"
    bindingConfiguration="basicHttpBinding" contract="Diamond.Common.Services.Interfaces.IAutoService"
    name="AutoService" />
  <endpoint address="http://ifmdia/Diamond/BillingService.svc"
    behaviorConfiguration="DiamondEndpointBehavior" binding="basicHttpBinding"
    bindingConfiguration="basicHttpBinding" contract="Diamond.Common.Services.Interfaces.IBillingService"
    name="BillingService" />
  <endpoint address="http://ifmdia/Diamond/CheckService.svc"
    behaviorConfiguration="DiamondEndpointBehavior" binding="basicHttpBinding"
    bindingConfiguration="basicHttpBinding" contract="Diamond.Common.Services.Interfaces.ICheckService"
    name="CheckService" />
  <endpoint address="http://ifmdia/Diamond/ClaimsService.svc"
    behaviorConfiguration="DiamondEndpointBehavior" binding="basicHttpBinding"
    bindingConfiguration="basicHttpBinding" contract="Diamond.Common.Services.Interfaces.IClaimsService"
    name="ClaimsService" />
  <endpoint address="http://ifmdia/Diamond/ConfigurableBookService.svc/compression"
    behaviorConfiguration="DiamondEndpointBehavior" binding="customBinding"
    bindingConfiguration="CompressedHttpBinding" contract="Diamond.Common.Services.Interfaces.IConfigurableBookService"
    name="ConfigurableBookService" />
  <endpoint address="http://ifmdia/Diamond/DetailSettingService.svc"
    behaviorConfiguration="DiamondEndpointBehavior" binding="basicHttpBinding"
    bindingConfiguration="basicHttpBinding" contract="Diamond.Common.Services.Interfaces.IDetailSettingService"
    name="DetailSettingService" />
  <endpoint address="http://ifmdia/Diamond/DMVService.svc"
    behaviorConfiguration="DiamondEndpointBehavior" binding="basicHttpBinding"
    bindingConfiguration="basicHttpBinding" contract="Diamond.Common.Services.Interfaces.IDMVService"
    name="DMVService" />
  <endpoint address="http://ifmdia/Diamond/EFTService.svc"
    behaviorConfiguration="DiamondEndpointBehavior" binding="basicHttpBinding"
    bindingConfiguration="basicHttpBinding" contract="Diamond.Common.Services.Interfaces.IEFTService"
    name="EFTService" />
  <endpoint address="http://ifmdia/Diamond/EmployInfoService.svc"
    behaviorConfiguration="DiamondEndpointBehavior" binding="basicHttpBinding"
    bindingConfiguration="basicHttpBinding" contract="Diamond.Common.Services.Interfaces.IEmployInfoService"
    name="EmployInfoService" />
  <endpoint address="http://ifmdia/Diamond/EndOfPeriodService.svc"
    behaviorConfiguration="DiamondEndpointBehavior" binding="basicHttpBinding"
    bindingConfiguration="basicHttpBinding" contract="Diamond.Common.Services.Interfaces.IEndOfPeriodService"
    name="EndOfPeriodService" />
  <endpoint address="http://ifmdia/Diamond/EOPProcessService.svc"
    behaviorConfiguration="DiamondEndpointBehavior" binding="basicHttpBinding"
    bindingConfiguration="basicHttpBinding" contract="Diamond.Common.Services.Interfaces.IEOPProcessService"
    name="EOPProcessService" />
  <endpoint address="http://ifmdia/Diamond/LookupService.svc"
    behaviorConfiguration="DiamondEndpointBehavior" binding="basicHttpBinding"
    bindingConfiguration="basicHttpBinding" contract="Diamond.Common.Services.Interfaces.ILookupService"
    name="LookupService" />
  <endpoint address="http://ifmdia/Diamond/ModifierService.svc"
    behaviorConfiguration="DiamondEndpointBehavior" binding="basicHttpBinding"
    bindingConfiguration="basicHttpBinding" contract="Diamond.Common.Services.Interfaces.IModifierService"
    name="ModifierService" />
  <endpoint address="http://ifmdia/Diamond/NotesService.svc"
    behaviorConfiguration="DiamondEndpointBehavior" binding="basicHttpBinding"
    bindingConfiguration="basicHttpBinding" contract="Diamond.Common.Services.Interfaces.INotesService"
    name="NotesService" />
  <endpoint address="http://ifmdia/Diamond/PolicyControlService.svc"
    behaviorConfiguration="DiamondEndpointBehavior" binding="basicHttpBinding"
    bindingConfiguration="basicHttpBinding" contract="Diamond.Common.Services.Interfaces.IPolicyControlService"
    name="PolicyControlService" />
  <endpoint address="http://ifmdia/Diamond/PolicyFormService.svc"
    behaviorConfiguration="DiamondEndpointBehavior" binding="basicHttpBinding"
    bindingConfiguration="basicHttpBinding" contract="Diamond.Common.Services.Interfaces.IPolicyFormService"
    name="PolicyFormService" />
  <endpoint address="http://ifmdia/Diamond/PolicyService.svc"
    behaviorConfiguration="DiamondEndpointBehavior" binding="basicHttpBinding"
    bindingConfiguration="basicHttpBinding" contract="Diamond.Common.Services.Interfaces.IPolicyService"
    name="PolicyService" />
  <endpoint address="http://ifmdia/Diamond/PrintingService.svc"
    behaviorConfiguration="DiamondEndpointBehavior" binding="basicHttpBinding"
    bindingConfiguration="basicHttpBinding" contract="Diamond.Common.Services.Interfaces.IPrintingService"
    name="PrintingService" />
  <endpoint address="http://ifmdia/Diamond/ProcessService.svc"
    behaviorConfiguration="DiamondEndpointBehavior" binding="basicHttpBinding"
    bindingConfiguration="basicHttpBinding" contract="Diamond.Common.Services.Interfaces.IProcessService"
    name="ProcessService" />
  <endpoint address="http://ifmdia/Diamond/RenewalService.svc"
    behaviorConfiguration="DiamondEndpointBehavior" binding="basicHttpBinding"
    bindingConfiguration="basicHttpBinding" contract="Diamond.Common.Services.Interfaces.IRenewalService"
    name="RenewalService" />
  <endpoint address="http://ifmdia/Diamond/ReportService.svc"
    behaviorConfiguration="DiamondEndpointBehavior" binding="basicHttpBinding"
    bindingConfiguration="basicHttpBinding" contract="Diamond.Common.Services.Interfaces.IReportService"
    name="ReportService" />
  <endpoint address="http://ifmdia/Diamond/ResidenceInfoService.svc"
    behaviorConfiguration="DiamondEndpointBehavior" binding="basicHttpBinding"
    bindingConfiguration="basicHttpBinding" contract="Diamond.Common.Services.Interfaces.IResidenceInfoService"
    name="ResidenceInfoService" />
  <endpoint address="http://ifmdia/Diamond/SampleService.svc"
    behaviorConfiguration="DiamondEndpointBehavior" binding="basicHttpBinding"
    bindingConfiguration="basicHttpBinding" contract="Diamond.Common.Services.Interfaces.ISampleService"
    name="SampleService" />
  <endpoint address="http://ifmdia/Diamond/ScheduleRunnerService.svc"
    behaviorConfiguration="DiamondEndpointBehavior" binding="basicHttpBinding"
    bindingConfiguration="basicHttpBinding" contract="Diamond.Common.Services.Interfaces.IScheduleRunnerService"
    name="ScheduleRunnerService" />
  <endpoint address="http://ifmdia/Diamond/SecurityService.svc"
    behaviorConfiguration="DiamondEndpointBehavior" binding="basicHttpBinding"
    bindingConfiguration="basicHttpBinding" contract="Diamond.Common.Services.Interfaces.ISecurityService"
    name="SecurityService" />
  <endpoint address="http://ifmdia/Diamond/LoginService.svc"
    behaviorConfiguration="DiamondEndpointBehavior" binding="basicHttpBinding"
    bindingConfiguration="basicHttpBinding" contract="Diamond.Common.Services.Interfaces.ILoginService"
    name="LoginService" />
  <endpoint address="http://ifmdia/Diamond/StatsExportService.svc"
    behaviorConfiguration="DiamondEndpointBehavior" binding="basicHttpBinding"
    bindingConfiguration="basicHttpBinding" contract="Diamond.Common.Services.Interfaces.IStatsExportService"
    name="StatsExportService" />
  <endpoint address="http://ifmdia/Diamond/StaticDataManagerService.svc/compression"
    behaviorConfiguration="DiamondEndpointBehavior" binding="customBinding"
    bindingConfiguration="CompressedHttpBinding" contract="Diamond.Common.Services.Interfaces.IStaticDataManagerService"
    name="StaticDataManagerService" />
  <endpoint address="http://ifmdia/Diamond/SystemSettingsService.svc"
    behaviorConfiguration="DiamondEndpointBehavior" binding="basicHttpBinding"
    bindingConfiguration="basicHttpBinding" contract="Diamond.Common.Services.Interfaces.ISystemSettingsService"
    name="SystemSettingsService" />
  <endpoint address="http://ifmdia/Diamond/ThirdPartyService.svc/compression"
    behaviorConfiguration="DiamondEndpointBehavior" binding="customBinding"
    bindingConfiguration="CompressedHttpBinding" contract="Diamond.Common.Services.Interfaces.IThirdPartyService"
    name="ThirdPartyService" />
  <endpoint address="http://ifmdia/Diamond/TransactionService.svc"
    behaviorConfiguration="DiamondEndpointBehavior" binding="basicHttpBinding"
    bindingConfiguration="basicHttpBinding" contract="Diamond.Common.Services.Interfaces.ITransactionService"
    name="TransactionService" />
  <endpoint address="http://ifmdia/Diamond/UtilityService.svc"
    behaviorConfiguration="DiamondEndpointBehavior" binding="basicHttpBinding"
    bindingConfiguration="basicHttpBinding" contract="Diamond.Common.Services.Interfaces.IUtilityService"
    name="UtilityService" />
  <endpoint address="http://ifmdia/Diamond/VersionService.svc"
    behaviorConfiguration="DiamondEndpointBehavior" binding="basicHttpBinding"
    bindingConfiguration="basicHttpBinding" contract="Diamond.Common.Services.Interfaces.IVersionService"
    name="VersionService" />
  <endpoint address="http://ifmdia/Diamond/VinService.svc"
    behaviorConfiguration="DiamondEndpointBehavior" binding="basicHttpBinding"
    bindingConfiguration="basicHttpBinding" contract="Diamond.Common.Services.Interfaces.IVinService"
    name="VinService" />
  <endpoint address="http://ifmdia/Diamond/VisualTreeService.svc"
    behaviorConfiguration="DiamondEndpointBehavior" binding="basicHttpBinding"
    bindingConfiguration="basicHttpBinding" contract="Diamond.Common.Services.Interfaces.IVisualTreeService"
    name="VisualTreeService" />
  <endpoint address="http://ifmdia/Diamond/WorkflowService.svc"
    behaviorConfiguration="DiamondEndpointBehavior" binding="basicHttpBinding"
    bindingConfiguration="basicHttpBinding" contract="Diamond.Common.Services.Interfaces.IWorkflowService"
    name="WorkflowService" />
  <endpoint address="http://ifmdia/Diamond/WebSiteService.svc"
    behaviorConfiguration="DiamondEndpointBehavior" binding="basicHttpBinding"
    bindingConfiguration="basicHttpBinding" contract="Diamond.Common.Services.Interfaces.IWebSiteService"
    name="WebSiteService" />
  <endpoint address="http://ifmobprod.ifm.ifmic.com/IFITST_OnBaseServices/SoapService.svc/SOAP11" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_HylandOutBoundContract" contract="OnBaseSoapService.HylandOutBoundContract" name="BasicHttpBinding_HylandOutBoundContract" />

  <metadata>
    <policyImporters>
      <extension type="Diamond.Common.Services.GZipMessageEncodingBindingElementImporter,Diamond.Common.Services" />
    </policyImporters>
  </metadata>
</client>
