<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Diamond.Common.Objects" version="538.12.500" targetFramework="net48" />
  <package id="Diamond.Common.Services" version="538.12.500" targetFramework="net48" />
  <package id="Diamond.Common.Utility" version="536.12.2900" targetFramework="net48" />
  <package id="Diamond.VR.Libraries" version="536.12.2900" targetFramework="net48" />
  <package id="Diamond.VR.UI.Items" version="536.12.2900" targetFramework="net48" />
  <package id="Diamond.VR.Web.Items" version="536.12.2900" targetFramework="net48" />
  <package id="DiamondDevExpress" version="20.2.9" targetFramework="net48" developmentDependency="true" />
  <package id="FluentValidation" version="8.1.0" targetFramework="net48" />
  <package id="IFI.PolicyAPIModels" version="2022.9.13.1235" targetFramework="net48" />
  <package id="IFM.CommonClassesDeploy" version="2021.8.2.100" targetFramework="net48" />
  <package id="IFM.CommonInputValidation" version="1.0.0" targetFramework="net48" />
  <package id="IFM.CreditCardProcessing" version="2024.11.3.1033" targetFramework="net48" />
  <package id="IFM.DiamondWebClass" version="2023.4.25.100" targetFramework="net48" />
  <package id="IFM.GeocoderLibrary" version="2019.4.29.100" targetFramework="net48" />
  <package id="IFM.IFMDiamondServices" version="2014.4.17.100" targetFramework="net48" />
  <package id="IFM.IFMErrorLogging" version="2017.9.4.100" targetFramework="net48" />
  <package id="IFM.JsonProxyClient" version="2022.4.25.100" targetFramework="net48" />
  <package id="IFM.Logging" version="1.1.6980.37119" targetFramework="net48" />
  <package id="IFM.MinMicrosoftPractices" version="2019.9.26.1" targetFramework="net48" />
  <package id="IFM.PrimativeExtensions" version="1.1.0" targetFramework="net48" />
  <package id="IFM.PrimitiveExtensions" version="2022.12.1.1449" targetFramework="net48" />
  <package id="IFM.QuickQuoteDeploy" version="2024.10.15.856" targetFramework="net48" />
  <package id="IFM.SQLClassesDeploy" version="2020.3.6.100" targetFramework="net48" />
  <package id="IFM.VR.Common" version="1.0.0-MultiStateAlpa" targetFramework="net48" />
  <package id="IFM.VR.Configuration" version="2022.1.18.815" targetFramework="net48" />
  <package id="IFM.VR.Flags" version="2022.1.18.810" targetFramework="net48" />
  <package id="IFM.ZipCodeRef" version="2014.9.2.100" targetFramework="net48" />
  <package id="Insuresoft.RuleEngine.Common" version="536.12.2900" targetFramework="net48" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.7" targetFramework="net48" />
  <package id="Microsoft.AspNet.Razor" version="3.2.7" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.4" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.4" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.4" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.4" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.7" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Http.Abstractions" version="2.1.0" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Http.Extensions" version="2.1.0" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Http.Features" version="2.1.0" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Routing" version="2.1.0" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Routing.Abstractions" version="2.1.0" targetFramework="net48" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="2.0.1" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.1.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="2.1.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="2.1.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.ObjectPool" version="2.1.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Options" version="2.1.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Primitives" version="2.1.0" targetFramework="net48" />
  <package id="Microsoft.Net.Compilers" version="2.10.0" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.Net.Http.Headers" version="2.1.0" targetFramework="net48" />
  <package id="Microsoft.OpenApi" version="1.2.3" targetFramework="net48" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net48" />
  <package id="System.Collections.Concurrent" version="4.3.0" targetFramework="net48" />
  <package id="System.ComponentModel.Annotations" version="4.4.1" targetFramework="net48" />
  <package id="System.ComponentModel.Primitives" version="4.3.0" targetFramework="net48" />
  <package id="System.IdentityModel.Tokens.Jwt" version="4.0.10819.1000" targetFramework="net48" developmentDependency="true" />
  <package id="System.Memory" version="4.5.0" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.0" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="4.5.1" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
  <package id="WebActivatorEx" version="2.0" targetFramework="net48" />
</packages>