<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="enterpriseLibrary.ConfigurationSource"
      type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.ConfigurationSourceSection, Microsoft.Practices.EnterpriseLibrary.Common, Version=5.0.414.0, Culture=neutral, PublicKeyToken=828f322f65400183"/>
  </configSections>
  <enterpriseLibrary.ConfigurationSource selectedSource="EnterpriseLibraryConfigurationFile">
    <sources>
      <add name="EnterpriseLibraryConfigurationFile"
        type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.FileConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common, Version=5.0.414.0, Culture=neutral, PublicKeyToken=828f322f65400183"
        filePath="EnterpriseLibraryConfiguration.config"/>
    </sources>
  </enterpriseLibrary.ConfigurationSource>
  <system.serviceModel>
    <extensions configSource="diaServiceModelExtensions.config"/>
    <client configSource="diaServiceModelClient.config"/>
    <behaviors configSource="diaServiceModelBehaviors.config"/>
    <bindings configSource="diaServiceModelBindings.config"/>
  </system.serviceModel>
  <appSettings file="diaAppSettings.config">
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <!--Prod; added connMemberPortal 3/26/2018 (actually uses IFMSQLTEST; ifmdsn doesn't currently have access)-->
    <!--<add key="conn" value="Server=ifmsql;UID=ifmdsn;PWD=ifmdsn;Initial Catalog=ifmtester;Max Pool Size=400;" />
    <add key="connQQ" value="Server=IFMDIASQL1;UID=ifmdsn;PWD=ifmdsn;Initial Catalog=QuickQuote;Max Pool Size=400;" />
    <add key="connDiamond" value="Server=IFMDIASQL1;UID=ifmdsn;PWD=ifmdsn;Initial Catalog=Diamond;Max Pool Size=400;" />
    <add key="connDiamondReports" value="Server=IFMDIASQL1;UID=ifmdsn;PWD=ifmdsn;Initial Catalog=IFM_Reports;Max Pool Size=400;" />
    <add key="connMemberPortal" value="Server=172.23.16.65;UID=memberportal;PWD=5eT546X8%iN;Initial Catalog=MPortal;Max Pool Size=400;" />
    <add key="CRS.ComparativeRatingService" value="http://www.indianafarmers.com/IntegrationServices/ComparativeRatingService.svc" />-->
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.7.2" />
      </system.Web>
  -->
  <system.web>
    <compilation targetFramework="4.8"/>
    <httpRuntime targetFramework="4.7.2" maxRequestLength="214748364" requestPathInvalidCharacters=""/>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.414.0" newVersion="2.0.414.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.Common" publicKeyToken="828f322f65400183" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.0.414.0" newVersion="5.0.414.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.Caching" publicKeyToken="828f322f65400183" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.0.414.0" newVersion="5.0.414.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.Data" publicKeyToken="828f322f65400183" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.0.414.0" newVersion="5.0.414.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.Security" publicKeyToken="828f322f65400183" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.0.414.0" newVersion="5.0.414.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.Security.Cryptography" publicKeyToken="828f322f65400183" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.0.414.0" newVersion="5.0.414.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.Logging" publicKeyToken="828f322f65400183" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.0.414.0" newVersion="5.0.414.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling" publicKeyToken="828f322f65400183" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.0.414.0" newVersion="5.0.414.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging" publicKeyToken="828f322f65400183" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.0.414.0" newVersion="5.0.414.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Aspose.Email" publicKeyToken="716fcc553a201e56" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.5.0.0" newVersion="6.5.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Aspose.Words" publicKeyToken="716fcc553a201e56" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-14.12.0.0" newVersion="14.12.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Aspose.Cells" publicKeyToken="716fcc553a201e56" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.8.0.0" newVersion="8.8.0.0"/>
      </dependentAssembly>
		<dependentAssembly>
			<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
			<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
		</dependentAssembly>
		<dependentAssembly>
			<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
			<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
		</dependentAssembly>
		<dependentAssembly>
			<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
			<bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0"/>
		</dependentAssembly>
		<dependentAssembly>
			<assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
			<bindingRedirect oldVersion="0.0.0.0-4.0.3.1" newVersion="4.0.3.1" />
		</dependentAssembly>
		<dependentAssembly>
			<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
			<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
		</dependentAssembly>
		<dependentAssembly>
			<assemblyIdentity name="Microsoft.Extensions.FileProviders.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
			<bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
		</dependentAssembly>
    </assemblyBinding>
  </runtime>  
</configuration>