<appSettings>
  <add key="UseWCF" value="True" />
  <add key="DiamondLoginCredentials" value="UsernamePassword" />
  <add key="SecurityTokenProviderAssemblyName" value="Diamond.Common.Services" />
  <add key="SecurityTokenProviderClassName" value="SessionStorageSecurityTokenProvider" />
  <!--<add key="SecurityTokenProviderClassName" value="StaticStorageSecurityTokenProvider" />-->
  <add key="UseProductExtensions" value="true" />
</appSettings>