<!--
<behaviors>
  <endpointBehaviors>
    <behavior name="DiamondEndpointBehavior">
      <dataContractSerializer maxItemsInObjectGraph="6553600">
      </dataContractSerializer>
      <clientCredentials>
      </clientCredentials>
    </behavior>
  </endpointBehaviors>
</behaviors>-->
<behaviors>
  <endpointBehaviors>
    <behavior name="json">
      <webHttp helpEnabled="true" defaultOutgoingResponseFormat="Json"/>
    </behavior>
    <behavior name="DiamondEndpointBehavior">
      <dataContractSerializer maxItemsInObjectGraph="2147483647" />
      <clientCredentials>
      </clientCredentials>
    </behavior>
    <behavior name="endpointBehavior_DecoupledClaims">
      <dataContractSerializer maxItemsInObjectGraph="2147483647" />
      <clientCredentials>
      </clientCredentials>
    </behavior>
  </endpointBehaviors>
  <serviceBehaviors>
    <behavior name="metadataSupport">
      <!-- Enables the IMetadataExchange endpoint in services that -->
      <!-- use "metadataSupport" in their behaviorConfiguration attribute. -->
      <serviceMetadata httpGetEnabled="true" httpGetUrl=""/>
      <serviceDebug includeExceptionDetailInFaults="true"/>
      <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
      <SecurityInspector/>
      <serviceThrottling maxConcurrentCalls="64" maxConcurrentSessions="64" maxConcurrentInstances="64" />
    </behavior>
    <behavior name="serviceBehavior_SSL">
      <serviceMetadata httpGetEnabled="False" httpsGetEnabled="True" />
      <serviceDebug includeExceptionDetailInFaults="True" />
    </behavior>
    <behavior name="serviceBehavior_Both">
      <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True" />
      <serviceDebug includeExceptionDetailInFaults="True" />
      <!--  Need to add the SecurityInspector below so that we can run the code to get the DiamondTrustedSecurityToken.  -->
      <SecurityInspector/>
    </behavior>
    <behavior name="serviceBehavior_DecoupledClaims">
      <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
      <serviceMetadata httpGetEnabled="true"/>
      <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
      <serviceDebug includeExceptionDetailInFaults="true"/>
    </behavior>
    <behavior name="serviceBehavior_IICMVA">
      <serviceCredentials>
        <!--<serviceCertificate findValue="tempClientcert" storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectName" />-->    
        <serviceCertificate storeName="My" storeLocation="LocalMachine" x509FindType="FindBySerialNumber" findValue="040488e947d8c9" />
        <!--<serviceCertificate storeName="Root" storeLocation="LocalMachine" x509FindType="FindBySubjectName" findValue="Go Daddy Class 2 Certification Authority" />-->
      </serviceCredentials>
      <serviceMetadata httpGetEnabled="False" httpsGetEnabled="True" />
      <serviceDebug includeExceptionDetailInFaults="True" />
    </behavior>
  </serviceBehaviors>
</behaviors>
