<!--
<bindings>
  <basicHttpBinding>
    <binding name="basicHttpBinding" receiveTimeout="00:05:00" sendTimeout="00:05:00"
       maxBufferSize="102400000" maxReceivedMessageSize="102400000">
      <readerQuotas maxDepth="32" maxStringContentLength="81920000"
         maxArrayLength="16384000" maxBytesPerRead="40960000" maxNameTableCharCount="16384000" />
      <security mode="TransportCredentialOnly">
        <transport clientCredentialType="Windows" />
      </security>
    </binding>
  </basicHttpBinding>
  <customBinding>
    <binding name="CompressedHttpBinding">
      <gzipMessageEncoding innerMessageEncoding="binaryMessageEncoding">
        <readerQuotas maxDepth="2147483647" maxStringContentLength="3145728"
           maxArrayLength="2147483647" maxNameTableCharCount="16384000" />
      </gzipMessageEncoding>
      <httpTransport manualAddressing="false" maxReceivedMessageSize="3145728"
         authenticationScheme="Negotiate" bypassProxyOnLocal="false"
         hostNameComparisonMode="StrongWildcard" proxyAuthenticationScheme="Negotiate"
         realm="" useDefaultWebProxy="true" />
    </binding>
  </customBinding>
  <wsHttpBinding>
    <binding name="wsHttpBinding" maxReceivedMessageSize="102400000">
      <readerQuotas maxDepth="32" maxStringContentLength="81920000"
         maxArrayLength="16384000" maxBytesPerRead="40960000" maxNameTableCharCount="16384000" />
      <security mode="TransportWithMessageCredential">
        <transport clientCredentialType="Windows" />
        <message clientCredentialType="Windows" />
      </security>
    </binding>
  </wsHttpBinding>
</bindings>-->
<bindings>
  <webHttpBinding>
    <binding name="webHttpBindingNoSecurity" maxReceivedMessageSize="2147483647"
             maxBufferPoolSize="2147483647777" >
      <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
                    maxArrayLength="2147483647" maxBytesPerRead="2147483647"
                    maxNameTableCharCount="2147483647" />
    </binding>
    <binding name="webHttpsBinding" maxReceivedMessageSize="2147483647"
             maxBufferPoolSize="2147483647777" >
      <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
                    maxArrayLength="2147483647" maxBytesPerRead="2147483647"
                    maxNameTableCharCount="2147483647" />
      <security mode="Transport">
        <transport clientCredentialType="None" />
      </security>
    </binding>
  </webHttpBinding>
  <basicHttpBinding>
    <binding name="basicHttpBinding" maxReceivedMessageSize="102400000"
     maxBufferSize="102400000" sendTimeout="00:30:00" receiveTimeout="infinite">
      <readerQuotas maxArrayLength="16384000" maxBytesPerRead="40960000"
        maxDepth="32" maxNameTableCharCount="16384000"
        maxStringContentLength="2147483647" />
    </binding>
    <binding name="basicHttpBindingNoSecurity" maxReceivedMessageSize="102400000"
      maxBufferSize="102400000" sendTimeout="00:05:00" receiveTimeout="00:05:00">
      <readerQuotas maxArrayLength="16384000" maxBytesPerRead="40960000"
      maxDepth="32" maxNameTableCharCount="16384000"
      maxStringContentLength="2147483647" />
    </binding>
    <binding name="basicHttpsBinding" maxReceivedMessageSize="102400000"
     maxBufferSize="102400000" sendTimeout="00:30:00" receiveTimeout="infinite">
      <readerQuotas maxArrayLength="16384000" maxBytesPerRead="40960000"
        maxDepth="32" maxNameTableCharCount="16384000"
        maxStringContentLength="2147483647" />
      <security mode="Transport">
        <transport clientCredentialType="None" />
      </security>
    </binding>
    <binding name="basicHttpsBinding_IICMVA" maxReceivedMessageSize="102400000"
      maxBufferSize="102400000" sendTimeout="00:30:00" receiveTimeout="infinite">
      <readerQuotas maxArrayLength="16384000" maxBytesPerRead="40960000"
        maxDepth="32" maxNameTableCharCount="16384000"
        maxStringContentLength="2147483647" />
      <security mode="Transport">
        <transport clientCredentialType="Certificate" />
        <!--<transport clientCredentialType="None" />-->
      </security>
    </binding>
    <binding name="basicHttpBinding_BuildCenter" maxReceivedMessageSize="2147483647"
             maxBufferPoolSize="2147483647777" receiveTimeout="00:10:00" sendTimeout="00:10:00">
      <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
                    maxArrayLength="2147483647" maxBytesPerRead="2147483647"
                    maxNameTableCharCount="2147483647" />
    </binding>
    <binding name="basicHttpBinding_BuildCenterStreaming" maxReceivedMessageSize="9223372036854775807"
             receiveTimeout="infinite" sendTimeout="00:10:00" transferMode="Streamed">
    </binding>
    <binding name="basicHttpsBinding_Xactware" messageEncoding="Mtom" transferMode="Streamed"  maxReceivedMessageSize="102400000"
     maxBufferSize="102400000" sendTimeout="00:30:00" receiveTimeout="infinite">
      <readerQuotas maxArrayLength="16384000" maxBytesPerRead="40960000"
        maxDepth="32" maxNameTableCharCount="16384000"
        maxStringContentLength="2147483647" />
      <security mode="Transport">
        <transport clientCredentialType="None" />
      </security>
    </binding>
  </basicHttpBinding>
  <wsHttpBinding>
    <binding name="wsHttpBinding" maxReceivedMessageSize="102400000" sendTimeout="00:30:00" receiveTimeout="infinite">
      <readerQuotas maxArrayLength="16384000" maxBytesPerRead="40960000"
        maxDepth="32" maxNameTableCharCount="16384000"
        maxStringContentLength="2147483647" />
    </binding>
    <binding name="wsHttpBinding_DecoupledClaims" maxReceivedMessageSize="102400000" sendTimeout="00:30:00" receiveTimeout="infinite">
      <readerQuotas maxArrayLength="16384000" maxBytesPerRead="40960000"
        maxDepth="32" maxNameTableCharCount="16384000"
        maxStringContentLength="2147483647" />
    </binding>
    <binding name="IntegrationServiceBinding" maxReceivedMessageSize ="1048576">
      <readerQuotas
        maxDepth="1048576"
        maxStringContentLength="1048576"
        maxArrayLength="1048576"
        maxBytesPerRead="1048576"
        maxNameTableCharCount="1048576" />
      <security mode="None" />
    </binding>
  </wsHttpBinding>
  <customBinding>
    <binding name="CompressedHttpBinding" sendTimeout="00:30:00" receiveTimeout="infinite">
      <gzipMessageEncoding innerMessageEncoding="binaryMessageEncoding">
        <readerQuotas maxArrayLength="2147483647" maxDepth="2147483647"
          maxNameTableCharCount="16384000" maxStringContentLength="2147483647" />
      </gzipMessageEncoding>
      <httpTransport hostNameComparisonMode="StrongWildcard" manualAddressing="False"
         maxReceivedMessageSize="2147483647" authenticationScheme="Anonymous"
         proxyAuthenticationScheme="Negotiate" bypassProxyOnLocal="False"
         realm="" useDefaultWebProxy="True" />
    </binding>
    <binding name="ComposerCompressedHttpBinding" sendTimeout="00:30:00" receiveTimeout="infinite">
      <gzipMessageEncoding innerMessageEncoding="binaryMessageEncoding">
        <readerQuotas maxArrayLength="2147483647" maxDepth="2147483647"
          maxNameTableCharCount="16384000" maxStringContentLength="2147483647" />
      </gzipMessageEncoding>
      <httpTransport hostNameComparisonMode="StrongWildcard" manualAddressing="False"
         maxReceivedMessageSize="102400000" authenticationScheme="Anonymous"
         proxyAuthenticationScheme="Negotiate" bypassProxyOnLocal="False"
         realm="" useDefaultWebProxy="True" />
    </binding>
    <binding name="CompressedHttpsBinding" sendTimeout="00:30:00" receiveTimeout="infinite">
      <gzipMessageEncoding innerMessageEncoding="binaryMessageEncoding">
        <readerQuotas maxArrayLength="2147483647" maxDepth="2147483647"
          maxNameTableCharCount="16384000" maxStringContentLength="2147483647" />
      </gzipMessageEncoding>
      <httpsTransport hostNameComparisonMode="StrongWildcard" manualAddressing="False"
         maxReceivedMessageSize="2147483647" authenticationScheme="Anonymous"
         proxyAuthenticationScheme="Negotiate" bypassProxyOnLocal="False"
         realm="" useDefaultWebProxy="True" />
    </binding>
    <binding name="BinaryHttpBinding" sendTimeout="00:30:00" receiveTimeout="infinite">
      <binaryMessageEncoding>
        <readerQuotas maxArrayLength="2147483647" maxDepth="2147483647"
                      maxNameTableCharCount="16384000" maxStringContentLength="2147483647"/>
      </binaryMessageEncoding>
      <httpTransport hostNameComparisonMode="StrongWildcard" manualAddressing="False" maxReceivedMessageSize="2100000000" authenticationScheme="Anonymous" proxyAuthenticationScheme="Anonymous" bypassProxyOnLocal="False" realm="" useDefaultWebProxy="True"></httpTransport>
    </binding>
    <binding name="DCTask.BinaryHttpBinding" sendTimeout="00:30:00" receiveTimeout="infinite">
      <binaryMessageEncoding>
        <readerQuotas maxArrayLength="2147483647" maxDepth="2147483647"
              maxNameTableCharCount="16384000" maxStringContentLength="2147483647"/>
      </binaryMessageEncoding>
      <httpTransport hostNameComparisonMode="StrongWildcard" manualAddressing="False" maxReceivedMessageSize="2100000000" authenticationScheme="Anonymous" proxyAuthenticationScheme="Anonymous" bypassProxyOnLocal="False" realm="" useDefaultWebProxy="True"></httpTransport>
    </binding>
    <binding name="DCLookup.BinaryHttpBinding" sendTimeout="00:30:00" receiveTimeout="infinite">
      <binaryMessageEncoding>
        <readerQuotas maxArrayLength="2147483647" maxDepth="2147483647"
              maxNameTableCharCount="16384000" maxStringContentLength="2147483647"/>
      </binaryMessageEncoding>
      <httpTransport hostNameComparisonMode="StrongWildcard" manualAddressing="False" maxReceivedMessageSize="2100000000" authenticationScheme="Anonymous" proxyAuthenticationScheme="Anonymous" bypassProxyOnLocal="False" realm="" useDefaultWebProxy="True"></httpTransport>
    </binding>
    <binding name="ThirdPartyHttpBinding" maxReceivedMessageSize="102400000"
				 maxBufferSize="102400000" sendTimeout="03:00:00" receiveTimeout="03:00:00">
      <gzipMessageEncoding innerMessageEncoding="binaryMessageEncoding">
        <readerQuotas maxArrayLength="2147483647" maxDepth="2147483647"
          maxNameTableCharCount="16384000" maxStringContentLength="2147483647" />
      </gzipMessageEncoding>
      <httpTransport hostNameComparisonMode="StrongWildcard" manualAddressing="False"
         maxReceivedMessageSize="2100000000" authenticationScheme="Negotiate"
         proxyAuthenticationScheme="Negotiate" bypassProxyOnLocal="False"
         realm="" useDefaultWebProxy="True" />
    </binding>
    <binding name="ThirdPartyHttpsBinding" maxReceivedMessageSize="102400000"
				 maxBufferSize="102400000" sendTimeout="03:00:00" receiveTimeout="03:00:00">
      <gzipMessageEncoding innerMessageEncoding="binaryMessageEncoding">
        <readerQuotas maxArrayLength="2147483647" maxDepth="2147483647"
          maxNameTableCharCount="16384000" maxStringContentLength="2147483647" />
      </gzipMessageEncoding>
      <httpsTransport hostNameComparisonMode="StrongWildcard" manualAddressing="False"
         maxReceivedMessageSize="2100000000" authenticationScheme="Negotiate"
         proxyAuthenticationScheme="Negotiate" bypassProxyOnLocal="False"
         realm="" useDefaultWebProxy="True" />
    </binding>
  </customBinding>
</bindings>
