<!--<extensions>
  <bindingElementExtensions>
    <add name="gzipMessageEncoding" type="Diamond.Common.Services.GZipMessageEncodingElement,Diamond.Common.Services" />
  </bindingElementExtensions>
</extensions>-->
<extensions>
  <behaviorExtensions>
    <add name="SecurityInspector" type="Diamond.Common.Services.SecurityInspectorExtensionElement, Diamond.Common.Services, Version=1.0.0.0, Culture=neutral, PublicKeyToken=828f322f65400183" />
  </behaviorExtensions>
  <bindingElementExtensions>
    <add name="gzipMessageEncoding" type="Diamond.Common.Services.GZipMessageEncodingElement,Diamond.Common.Services" />
  </bindingElementExtensions>
</extensions>
