<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxControlToolkit" version="4.1.50731" targetFramework="net48" />
  <package id="BasicFrame.BasicDatePicker" version="1.4.3.40829" targetFramework="net48" />
  <package id="Chart.js" version="2.7.3" targetFramework="net48" />
  <package id="DevDictionaryHelper" version="2022.6.7.100" targetFramework="net48" />
  <package id="Diamond.Common.Interfaces" version="538.12.2000.1" targetFramework="net48" />
  <package id="Diamond.Common.Objects" version="538.12.2000.1" targetFramework="net48" />
  <package id="Diamond.Common.Services" version="538.12.2000.1" targetFramework="net48" />
  <package id="Diamond.Common.Utility" version="538.12.2000.1" targetFramework="net48" />
  <package id="Diamond.VR.Libraries" version="538.12.2000.1" targetFramework="net48" />
  <package id="Diamond.VR.UI.Items" version="538.12.2000.1" targetFramework="net48" />
  <package id="Diamond.VR.Web.Items" version="538.12.2000.1" targetFramework="net48" />
  <package id="Diamond_System.IdentityModel.Tokens.Jwt" version="4.0.10819.1000" targetFramework="net48" developmentDependency="true" />
  <package id="ICSharpCode.SharpZipLib" version="0.83.1" targetFramework="net48" />
  <package id="IFI.IntegrationHelper" version="2025.9.9.1036" targetFramework="net48" />
  <package id="IFI.PDFTools" version="1.0.4" targetFramework="net48" />
  <package id="IFI.VR.Web.Diamond.Items" version="538.12.2000.1" targetFramework="net48" />
  <package id="IFI.VR.Web.Total.Package" version="538.12.2000.1" targetFramework="net48" />
  <package id="IFM.CommonClassesDeploy" version="2023.6.14-beta" targetFramework="net48" />
  <package id="IFM.CommonInputValidation" version="2021.7.8.100" targetFramework="net48" />
  <package id="IFM.DefaultCoverage" version="2014.8.6" targetFramework="net48" />
  <package id="IFM.DiamondWebClass" version="2024.12.23.100" targetFramework="net48" />
  <package id="IFM.IFMDiamondServices" version="2014.4.17.100" targetFramework="net48" />
  <package id="IFM.IFMErrorLogging" version="2017.9.4.100" targetFramework="net48" />
  <package id="IFM.JsonProxyClient" version="2022.4.25.100" targetFramework="net48" />
  <package id="IFM.MasterPages" version="2019.8.29.100" targetFramework="net48" />
  <package id="IFM.MinMicrosoftPractices" version="2019.9.26.1" targetFramework="net48" />
  <package id="IFM.PayTraceRCC" version="2022.10.3.1813" targetFramework="net48" />
  <package id="IFM.PolicyLoader" version="2025.5.27.1548" targetFramework="net48" />
  <package id="IFM.PopupMessageClass" version="2021.2.4" targetFramework="net48" />
  <package id="IFM.PrimativeExtensions" version="2021.7.23.400" targetFramework="net48" />
  <package id="IFM.PublicQuotingLib" version="2019.5.20.100" targetFramework="net48" />
  <package id="IFM.QuickQuoteDeploy" version="2025.9.15.1550-beta" targetFramework="net48" />
  <package id="IFM.SQLClassesDeploy" version="2020.3.6.100" targetFramework="net48" />
  <package id="IFM.ZipCodeRef" version="2014.9.2.100" targetFramework="net48" />
  <package id="Insuresoft.RuleEngine.Common" version="538.12.2000.1" targetFramework="net48" />
  <package id="JsonProxyClient" version="2022.4.25.100" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.CodeAnalysis" version="3.4.0" targetFramework="net48" />
  <package id="Microsoft.CodeAnalysis.Analyzers" version="2.9.6" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.CodeAnalysis.Common" version="3.4.0" targetFramework="net48" />
  <package id="Microsoft.CodeAnalysis.Compilers" version="3.4.0" targetFramework="net48" />
  <package id="Microsoft.CodeAnalysis.CSharp" version="3.4.0" targetFramework="net48" />
  <package id="Microsoft.CodeAnalysis.CSharp.Workspaces" version="3.4.0" targetFramework="net48" />
  <package id="Microsoft.CodeAnalysis.VisualBasic" version="3.4.0" targetFramework="net48" />
  <package id="Microsoft.CodeAnalysis.VisualBasic.Workspaces" version="3.4.0" targetFramework="net48" />
  <package id="Microsoft.CodeAnalysis.Workspaces.Common" version="3.4.0" targetFramework="net48" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="1.0.8" targetFramework="net48" />
  <package id="Microsoft.Extensions.Caching.Abstractions" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Caching.Memory" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileProviders.Embedded" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileProviders.Physical" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileSystemGlobbing" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Options" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Primitives" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Net.Compilers" version="2.4.0" targetFramework="net48" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="11.0.1" targetFramework="net48" />
  <package id="PDFsharp-MigraDoc-gdi" version="1.50.5147" targetFramework="net48" />
  <package id="PosInformatique.AspNet.WebForms.DependencyInjection" version="1.2.0" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Collections.Immutable" version="1.7.1" targetFramework="net48" />
  <package id="System.Composition" version="1.0.31" targetFramework="net48" />
  <package id="System.Composition.AttributedModel" version="1.0.31" targetFramework="net48" />
  <package id="System.Composition.Convention" version="1.0.31" targetFramework="net48" />
  <package id="System.Composition.Hosting" version="1.0.31" targetFramework="net48" />
  <package id="System.Composition.Runtime" version="1.0.31" targetFramework="net48" />
  <package id="System.Composition.TypedParts" version="1.0.31" targetFramework="net48" />
  <package id="System.Configuration.ConfigurationManager" version="6.0.0" targetFramework="net48" />
  <package id="System.IdentityModel.Tokens.Jwt" version="4.0.10819.1000" targetFramework="net48" developmentDependency="true" />
  <package id="System.IO" version="4.3.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.4" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Reflection.Metadata" version="1.8.1" targetFramework="net48" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
  <package id="System.Security.AccessControl" version="6.0.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net48" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Permissions" version="6.0.0" targetFramework="net48" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net48" />
  <package id="System.Text.Encoding.CodePages" version="4.5.1" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
</packages>