<bindings>
   <basicHttpBinding>
      <binding name="basicHttpBinding" receiveTimeout="00:05:00" sendTimeout="00:05:00"
         maxBufferSize="102400000" maxReceivedMessageSize="102400000">
         <readerQuotas maxDepth="32" maxStringContentLength="81920000"
            maxArrayLength="16384000" maxBytesPerRead="40960000" maxNameTableCharCount="16384000" />
         <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows" />
         </security>
      </binding>
   </basicHttpBinding>
   <customBinding>
      <binding name="CompressedHttpBinding">
         <gzipMessageEncoding innerMessageEncoding="binaryMessageEncoding">
            <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
               maxArrayLength="2147483647" maxNameTableCharCount="16384000" />
         </gzipMessageEncoding>
         <httpTransport manualAddressing="false" maxReceivedMessageSize="2147483647"
            authenticationScheme="Negotiate" bypassProxyOnLocal="false"
            hostNameComparisonMode="StrongWildcard" proxyAuthenticationScheme="Negotiate"
            realm="" useDefaultWebProxy="true" />
      </binding>
   </customBinding>
   <wsHttpBinding>
      <binding name="wsHttpBinding" maxReceivedMessageSize="102400000">
         <readerQuotas maxDepth="32" maxStringContentLength="2147483647"
            maxArrayLength="16384000" maxBytesPerRead="40960000" maxNameTableCharCount="16384000" />
         <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="Windows" />
            <message clientCredentialType="Windows" />
         </security>
      </binding>
   </wsHttpBinding>
</bindings>