<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="1.0" targetFramework="net48" />
  <package id="Diamond.Common.Objects" version="536.12.2100.1" targetFramework="net48" />
  <package id="Diamond.Common.Services" version="536.12.2100.1" targetFramework="net48" />
  <package id="Diamond.Common.Utility" version="536.12.2100.1" targetFramework="net48" />
  <package id="Diamond.VR.Libraries" version="536.12.2100.1" targetFramework="net48" />
  <package id="Diamond.VR.UI.Items" version="536.12.2100.1" targetFramework="net48" />
  <package id="Diamond.VR.Web.Items" version="536.12.2100.1" targetFramework="net48" />
  <package id="Diamond_System.IdentityModel.Tokens.Jwt" version="4.0.10819.1000" targetFramework="net48" developmentDependency="true" />
  <package id="IFM.CommonClassesDeploy" version="2021.8.2.100" targetFramework="net48" />
  <package id="IFM.DiamondWebClass" version="2023.4.25.100" targetFramework="net48" />
  <package id="IFM.IFMDiamondServices" version="2014.4.17.100" targetFramework="net48" />
  <package id="IFM.MinMicrosoftPractices" version="2019.9.26.1" targetFramework="net48" />
  <package id="IFM.SQLClassesDeploy" version="2020.3.6.100" targetFramework="net48" />
  <package id="Insuresoft.RuleEngine.Common" version="536.12.2100.1" targetFramework="net48" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="1.0.8" targetFramework="net48" />
  <package id="Microsoft.Net.Compilers" version="2.4.0" targetFramework="net48" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="11.0.1" targetFramework="net48" />
  <package id="Unity" version="2.1.505.2" targetFramework="net48" />
  <package id="Unity.Interception" version="2.1.505.2" targetFramework="net48" />
</packages>