<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Diamond.Common.Objects" version="535.10.1000.1" targetFramework="net48" />
  <package id="Diamond.Common.Services" version="535.10.1000.1" targetFramework="net48" />
  <package id="Diamond.Common.Utility" version="535.10.1000.1" targetFramework="net48" />
  <package id="Diamond.VR.Libraries" version="535.10.1000.1" targetFramework="net48" />
  <package id="Diamond.VR.UI.Items" version="535.10.1000.1" targetFramework="net48" />
  <package id="Diamond.VR.Web.Items" version="535.10.1000.1" targetFramework="net48" />
  <package id="Diamond_System.IdentityModel.Tokens.Jwt" version="4.0.10819.1000" targetFramework="net48" developmentDependency="true" />
  <package id="IFM.CommonClassesDeploy" version="2021.8.2.100" targetFramework="net48" />
  <package id="IFM.IFMDiamondServices" version="2014.4.17.100" targetFramework="net48" />
  <package id="IFM.IFMErrorLogging" version="2017.9.4.100" targetFramework="net48" />
  <package id="IFM.MinMicrosoftPractices" version="2019.9.26.1" targetFramework="net48" />
  <package id="IFM.PrimativeExtensions" version="2021.7.23.400" targetFramework="net48" />
  <package id="IFM.Proposal.CAP_WCP_BOP" version="2021.10.8" targetFramework="net48" />
  <package id="IFM.Proposal.VR_CGL_CPP_CPR" version="2021.10.8" targetFramework="net48" developmentDependency="true" />
  <package id="IFM.QuickQuoteDeploy" version="2022.8.25.1657" targetFramework="net48" />
  <package id="IFM.SQLClassesDeploy" version="2020.3.6.100" targetFramework="net48" />
  <package id="IFM.VR.Configuration" version="2022.1.18.815" targetFramework="net48" />
  <package id="IFM.VR.Flags" version="2022.1.18.810" targetFramework="net48" />
  <package id="IFM.WebClassesDeploy" version="2015.9.10.1" targetFramework="net48" />
  <package id="IFM.WebSupport" version="2020.3.10.100" targetFramework="net48" />
  <package id="Insuresoft.RuleEngine.Common" version="535.10.1000.1" targetFramework="net48" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="4.1.0" targetFramework="net48" />
  <package id="Microsoft.Configuration.ConfigurationBuilders.Base" version="2.0.0" targetFramework="net48" />
  <package id="Microsoft.Net.Compilers" version="2.4.0" targetFramework="net48" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="11.0.1" targetFramework="net48" />
  <package id="System.Configuration.ConfigurationManager" version="6.0.0" targetFramework="net48" />
  <package id="System.Security.AccessControl" version="6.0.0" targetFramework="net48" />
  <package id="System.Security.Permissions" version="6.0.0" targetFramework="net48" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net48" />
</packages>