<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!--<section name="enterpriseLibrary.ConfigurationSource" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.ConfigurationSourceSection, Microsoft.Practices.EnterpriseLibrary.Common, Version=3.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>-->
    <!--replaced 7/3/2013; here 5/1/2017-->
    <section name="enterpriseLibrary.ConfigurationSource" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.ConfigurationSourceSection, Microsoft.Practices.EnterpriseLibrary.Common, Version=5.0.414.0, Culture=neutral, PublicKeyToken=828f322f65400183" />
    <section name="configBuilders" type="System.Configuration.ConfigurationBuildersSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" restartOnExternalChanges="false" requirePermission="false" />
  </configSections>
  <enterpriseLibrary.ConfigurationSource selectedSource="EnterpriseLibraryConfigurationFile">
    <sources>
      <!--<add name="EnterpriseLibraryConfigurationFile" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.FileConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common, Version=3.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" filePath="EnterpriseLibraryConfiguration.config"/>-->
      <!--replaced 7/3/2013; here 5/1/2017-->
      <add name="EnterpriseLibraryConfigurationFile" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.FileConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common, Version=5.0.414.0, Culture=neutral, PublicKeyToken=828f322f65400183" filePath="EnterpriseLibraryConfiguration.config" />
    </sources>
  </enterpriseLibrary.ConfigurationSource>
  <system.serviceModel>
    <extensions configSource="diaServiceModelExtensions.config" />
    <client configSource="diaServiceModelClient.config" />
    <behaviors configSource="diaServiceModelBehaviors.config" />
    <bindings configSource="diaServiceModelBindings.config" />
  </system.serviceModel>
  <!--<appSettings>-->
  <appSettings file="diaAppSettings.config">
    <add key="VRProposalLinesPerPage" value="55" />
    <!--7/13/2017 note: 50 in Patch and 60 in Prod; Summary logic will now look at VRProposalSummaryLinesPerPage 1st and then this-->
    <add key="VRProposalSummaryLinesPerPage" value="58" />
    <!--added 7/13/2017 so # used by Summary can be changed without affecting other apps... CIM also uses VRProposalLinesPerPage-->
    <!--<add key="conn" value="Server=ifmsqltest;UID=ifmdsn;PWD=ifmdsn;Initial Catalog=ifmtester;Max Pool Size=400;"/>
    <add key="connQQ" value="Server=IFMDIASQLQA;UID=ifmdsn;PWD=ifmdsn;Initial Catalog=QuickQuote;Max Pool Size=400;"/>
    <add key="connDiamond" value="Server=IFMDIASQLQA;UID=ifmdsn;PWD=ifmdsn;Initial Catalog=Diamond;Max Pool Size=400;"/>
    <add key="connDiamondReports" value="Server=IFMDIASQLQA;UID=ifmdsn;PWD=ifmdsn;Initial Catalog=IFM_Reports;Max Pool Size=400;"/>
    <add key="CRS.ComparativeRatingService" value="http://ifmdiaqa/IntegrationServices/ComparativeRatingService.svc"/>-->
    <!--changed w/ whatever was done 12/24/2012-->
    <!--from http://ifmdiaqa/RTRService/ComparativeRatingService.svc to http://ifmdiaqa/IntegrationServices/ComparativeRatingService.svc-->
    <!--<add key="conn" value="Server=ifmsqlpatch;UID=ifmdsn;PWD=ifmdsn;Initial Catalog=ifmtester;Max Pool Size=400;"/>
    <add key="connQQ" value="Server=IFMDIAPATCH\PROD_PATCH;UID=ifmdsn;PWD=ifmdsn;Initial Catalog=QuickQuote;Max Pool Size=400;"/>
    <add key="connDiamond" value="Server=IFMDIAPATCH\PROD_PATCH;UID=ifmdsn;PWD=ifmdsn;Initial Catalog=Diamond;Max Pool Size=400;"/>
    <add key="connDiamondReports" value="Server=IFMDIAPATCH\PROD_PATCH;UID=ifmdsn;PWD=ifmdsn;Initial Catalog=IFM_Reports;Max Pool Size=400;"/>
    <add key="CRS.ComparativeRatingService" value="http://www.ifmig.net/IntegrationServices/ComparativeRatingService.svc"/>
    -->
    <!--changed 5/1/2017 from http://www.ifmig.net/RTRService/ComparativeRatingService.svc to http://www.ifmig.net/IntegrationServices/ComparativeRatingService.svc-->
    <!--<add key="conn" value="Server=ifmsql;UID=ifmdsn;PWD=ifmdsn;Initial Catalog=ifmtester;Max Pool Size=400;"></add>
    <add key="connQQ" value="Server=IFMDIASQL1;UID=ifmdsn;PWD=ifmdsn;Initial Catalog=QuickQuote;Max Pool Size=400;"/>
    <add key="connDiamond" value="Server=IFMDIASQL1;UID=ifmdsn;PWD=ifmdsn;Initial Catalog=Diamond;Max Pool Size=400;"/>
    <add key="connDiamondReports" value="Server=IFMDIASQL1;UID=ifmdsn;PWD=ifmdsn;Initial Catalog=IFM_Reports;Max Pool Size=400;"/>
    <add key="CRS.ComparativeRatingService" value="http://www.indianafarmers.com/RTRService/ComparativeRatingService.svc"/>-->
    <!-- New Release -->
    <!--<add key="conn" value="Server=ifmnewrelease\ifmnewreleasesql;UID=ifmdsn;PWD=ifmdsn;Initial Catalog=ifmtester;Max Pool Size=400;" />
    <add key="connQQ" value="Server=ifmnewrelease;UID=ifmdsn;PWD=ifmdsn;Initial Catalog=QuickQuote;Max Pool Size=400;" />
    <add key="connPDF" value="Server=ifmnewrelease;UID=ifmdsn;PWD=ifmdsn;Initial Catalog=ifmpdf;Max Pool Size=200;" />
    <add key="connDiamond" value="Server=ifmnewrelease;UID=ifmdsn;PWD=ifmdsn;Initial Catalog=Diamond;Max Pool Size=400;" />
    <add key="connLoss" value="Server=ifmnewrelease;UID=ifmdsn;PWD=ifmdsn;Initial Catalog=claimen;" />
    <add key="connDiamondReports" value="Server=ifmnewrelease;UID=ifmdsn;PWD=ifmdsn;Initial Catalog=IFM_Reports;Max Pool Size=400;" />-->
    <!--New Build Test-->
    <add key="conn" value="Server=IFMNEWBUILDTEST\newbuildtestsql;UID=ifmdsn;PWD=ifmdsn;Initial Catalog=ifmtester;Max Pool Size=400;" />
    <add key="connQQ" value="Server=IFMNEWBUILDTEST;UID=ifmdsn;PWD=ifmdsn;Initial Catalog=QuickQuote;Max Pool Size=400;" />
    <add key="connDiamond" value="Server=IFMNEWBUILDTEST;UID=ifmdsn;PWD=ifmdsn;Initial Catalog=Diamond;Max Pool Size=400;" />
    <add key="connDiamondReports" value="Server=IFMNEWBUILDTEST;UID=ifmdsn;PWD=ifmdsn;Initial Catalog=IFM_Reports;Max Pool Size=400;" />
    <add key="CRS.ComparativeRatingService" value="http://ifmnewbuildtest/IntegrationServices/ComparativeRatingService.svc" />
    <!--OLD RELEASE-->
    <!--<add key="conn" value="Server=IFMOLDRELEASE\oldreleasesql;UID=ifmdsn;PWD=ifmdsn;Initial Catalog=ifmtester;Max Pool Size=400;" />
    <add key="connQQ" value="Server=IFMOLDRELEASE;UID=ifmdsn;PWD=ifmdsn;Initial Catalog=QuickQuote;Max Pool Size=400;" />
    <add key="connDiamond" value="Server=IFMOLDRELEASE;UID=ifmdsn;PWD=ifmdsn;Initial Catalog=Diamond;Max Pool Size=400;" />
    <add key="connDiamondReports" value="Server=IFMOLDRELEASE;UID=ifmdsn;PWD=ifmdsn;Initial Catalog=IFM_Reports;Max Pool Size=400;" />
    <add key="CRS.ComparativeRatingService" value="http://ifmoldrelease/RTRService/ComparativeRatingService.svc" />-->
    <!--<add key="QuickQuotePrintHistory_Worksheet_or_All" value="All"/>-->
    <add key="QuickQuotePrintHistory_Worksheet_or_All" value="Worksheet" />
    <add key="TestOrProd" value="Test" />
    <add key="QuickQuote_UseTestVariables" value="Yes" />
    <!--<add key="QuickQuoteTestUsername" value="TestNxTech"/>
    <add key="QuickQuoteTestPassword" value="TestNxTech1"/>
    <add key="QuickQuoteTestUserId" value="3033"/>
    <add key="QuickQuoteTestAgencyCode" value="6000-3000"/>
    <add key="QuickQuoteTestAgencyId" value="441"/>-->
    <!-- Updated user ID 11/11/2021 -->
    <add key="QuickQuoteTestUsername" value="DonBrewtonTest" />
    <add key="QuickQuoteTestPassword" value="DonBrewtonTest1" />
    <add key="QuickQuoteTestUserId" value="11162" />
    <add key="QuickQuoteTestAgencyCode" value="6013-1840" />
    <add key="QuickQuoteTestAgencyId" value="17" />
    <!-- OLD RELEASE -->
    <!--<add key="QuickQuoteTestUsername" value="DonBrewtonTest" />
    <add key="QuickQuoteTestPassword" value="DonBrewtonTest1" />
    <add key="QuickQuoteTestUserId" value="9942" />
    <add key="QuickQuoteTestAgencyCode" value="6013-1840" />
    <add key="QuickQuoteTestAgencyId" value="17" />-->
    <!--QuickQuoteTestUserId is 3175 on QA and 3135 on Patch; databases restored 11/5/2012; Patch - 3361; QA - 3366; Patch restored 4/3/2013 (QA sometime before): Patch - 3554, QA - 3548; Patch and QA restored again 7/15/2013: Patch - 3712, QA - 3548 (didn't change); updated for QA 9/24/2013: 3751; updated for Patch 12/20/2013: 3897; 6/17/2014 - updated for Patch: 4207; 7/15/2014 - updated for Patch: 4240; 8/26/2014 - updated for Patch: 4263; 9/30/2014 - updated for QA: 4336; 2/27/2015 - updated for QA: 4644; 5/21/2015 - updated for QA: 5285; 8/18/2015 - updated for Patch: 5513; 12/29/2015 - updated for QA: 5699; 1/27/2016 - added for Projects: 5711; 3/24/2016 - updated for Patch: 5782; 6/7/2016 - added for IfmNewBuildTest: 5946; 8/1/2016 - updated for Patch: 6111; 8/5/2016 - updated for QA: 6042; 11/8/2016 - updated for Patch: 6376; 3/8/2017 - updated for NewBuildTest: 6603; 3/27/2017 - updated for Patch: 6788-->
    <!--<add key="QuickQuoteTestUsername" value="DonBrewtonTest"/>
    <add key="QuickQuoteTestPassword" value="DonBrewtonTest1"/>
    <add key="QuickQuoteTestUserId" value="6788"/>
    <add key="QuickQuoteTestAgencyCode" value="6013-1840"/>
    <add key="QuickQuoteTestAgencyId" value="17"/>-->
    <!--<add key="QuickQuoteTestUsername" value="DonGraberTest"/>
    <add key="QuickQuoteTestPassword" value="DonGraberTest1"/>
    <add key="QuickQuoteTestUserId" value="3225"/>
    <add key="QuickQuoteTestAgencyCode" value="6055-2055"/>
    <add key="QuickQuoteTestAgencyId" value="61"/>-->
    <!--<add key="QuickQuoteTestUsername" value="DonKitchellTest"/>
    <add key="QuickQuoteTestPassword" value="DonKitchellTest1"/>
    <add key="QuickQuoteTestUserId" value="3228"/>
    <add key="QuickQuoteTestAgencyCode" value="6082-1002"/>
    <add key="QuickQuoteTestAgencyId" value="89"/>-->
    <!--<add key="QuickQuoteTestUsername" value="mabut"/>
    <add key="QuickQuoteTestPassword" value="Test123"/>
    <add key="QuickQuoteTestUserId" value="2791"/>
    <add key="QuickQuoteTestAgencyCode" value=""/>
    <add key="QuickQuoteTestAgencyId" value=""/>-->
    <!--<add key="QuickQuoteTestUsername" value="roboy"/>
    <add key="QuickQuoteTestPassword" value="Test123"/>
    <add key="QuickQuoteTestUserId" value="79"/>
    <add key="QuickQuoteTestAgencyCode" value=""/>
    <add key="QuickQuoteTestAgencyId" value=""/>-->
    <!--<add key="QuickQuoteTestUsername" value="domin"/>
    <add key="QuickQuoteTestPassword" value="Test123"/>
    <add key="QuickQuoteTestUserId" value="84"/>
    <add key="QuickQuoteTestAgencyCode" value=""/>
    <add key="QuickQuoteTestAgencyId" value=""/>-->
    <!--this one's good for all environments-->
    <!--<add key="QuickQuoteTestUsername" value="TestNxTech2"/>
    <add key="QuickQuoteTestPassword" value="DevTesting2"/>
    <add key="QuickQuoteTestUserId" value="3310"/>
    <add key="QuickQuoteTestAgencyCode" value="6000-3000"/>
    <add key="QuickQuoteTestAgencyId" value="441"/>-->
    <add key="DiamondQuickQuoteMaster" value="~/DiamondQuickQuote.master" />
    <add key="DiamondQuickQuoteMasterPF" value="~/DiamondQuickQuotePF.master" />
    <add key="DiamondQuickQuoteMaster_BodyBackground" value="images/bg.gif" />
    <!--<add key="DiamondQuickQuoteMaster_IFM_Logo" value="images/bg/IFMlogo2.jpg"/>-->
    <add key="DiamondQuickQuoteMaster_IFM_Logo" value="images/Velocirater.jpg" />
    <add key="QuickQuote_QuoteSummary" value="DiamondQuoteSummary.aspx" />
    <!--<add key="QuickQuote_AppGap" value="AppGap.aspx"/>-->
    <add key="QuickQuote_SavedQuotes" value="SavedQuotes.aspx" />
    <!--<add key="QuickQuote_NewQuote" value="\Client Pages\ClientWelcome.aspx"/>-->
    <add key="QuickQuote_NewQuote" value="NewClient.aspx" />
    <add key="QuickQuote_ClientSearch" value="ClientSearch.aspx" />
    <add key="QuickQuote_LOB_Selection" value="http://ifmwebtest/agentsonly/SelectStateAndLOB.aspx" />
    <add key="QuickQuote_HomePage" value="DiamondQuickQuoteHome.aspx" />
    <!--<add key="QuickQuote_BOP_Input" value="\BOP Pages\BOPQuoteInputPage.aspx"/>
    <add key="QuickQuote_WC_Input" value="\WC Pages\WCQuoteInputPage.aspx"/>
    <add key="QuickQuote_CAP_Input" value="\CAP Pages\CAPQuoteInputPage.aspx"/>-->
    <add key="QuickQuote_BOP_Input" value="BOPQuoteInputPage.aspx" />
    <add key="QuickQuote_WC_Input" value="WCQuoteInputPage.aspx" />
    <add key="QuickQuote_CAP_Input" value="CAPQuoteInputPage.aspx" />
    <add key="QuickQuote_CGL_Input" value="QQ_CGL.aspx" />
    <add key="QuickQuote_CPR_Input" value="QQ_CPR.aspx" />
    <add key="QuickQuote_CPP_Input" value="QQ_CPP.aspx" />
    <add key="QuickQuote_BOP_AppGap" value="AppGapBop.aspx" />
    <add key="QuickQuote_WC_AppGap" value="AppGapWc.aspx" />
    <add key="QuickQuote_CAP_AppGap" value="AppGapCap.aspx" />
    <add key="QuickQuote_CGL_AppGap" value="AppGapCgl.aspx" />
    <add key="QuickQuote_CPR_AppGap" value="AppGapCpr.aspx" />
    <add key="QuickQuote_CPP_AppGap" value="AppGapCpp.aspx" />
    <add key="QuickQuote_BOP_DiamondPortal_App_UW_TabIndex" value="3" />
    <add key="QuickQuote_WC_DiamondPortal_App_UW_TabIndex" value="3" />
    <add key="QuickQuote_CGL_DiamondPortal_App_UW_TabIndex" value="4" />
    <add key="QuickQuote_CAP_DiamondPortal_App_UW_TabIndex" value="5" />
    <add key="QuickQuote_CPR_DiamondPortal_App_UW_TabIndex" value="3" />
    <add key="QuickQuote_CPP_DiamondPortal_App_UW_TabIndex" value="2" />
    <!--added 11/9/2012 to control QQ LOB selection page; applicable values are ALL, STAFF, and NONE-->
    <add key="QuickQuote_BOP_EnabledUsers" value="ALL" />
    <add key="QuickQuote_WC_EnabledUsers" value="ALL" />
    <add key="QuickQuote_CGL_EnabledUsers" value="ALL" />
    <add key="QuickQuote_CAP_EnabledUsers" value="ALL" />
    <add key="QuickQuote_CPR_EnabledUsers" value="ALL" />
    <add key="QuickQuote_CPP_EnabledUsers" value="ALL" />
    <add key="QuickQuote_IRPM_Input" value="DiamondQuoteIRPM.aspx" />
    <add key="QuickQuote_TrainingVideos" value="DiamondQuickQuoteVideos.aspx?PF=Yes" />
    <!--added 9/20/2012; can also remove PF querystring param-->
    <add key="QuickQuote_PlayTrainingVideosInNewWindow" value="YES" />
    <add key="QuickQuote_TrainingVideoPlayer" value="DiamondQuickQuoteVideoPlayer.aspx?PrinterFriendlyVideoId=" />
    <!--added 10/24/2012; can also change querystring param to just VideoId-->
    <add key="QuickQuote_XmlSelecter" value="DiamondQuickQuoteXmlSelecter.aspx" />
    <!--added 2/7/2013-->
    <add key="QuickQuote_XmlViewer" value="DiamondQuickQuoteXmlViewer.aspx" />
    <!--added 2/7/2013; needs to use full path in Patch/Prod environments since it uses js to open a new window-->
    <add key="QuickQuote_ShowDiamondPortalButton" value="No" />
    <!--Yes or No-->
    <!--changed to No on 8/29/2012-->
    <add key="QuickQuote_AutoFinalizeFromAppGapSummary" value="No" />
    <!--Yes or No-->
    <!--2/28/2013 - changed from Yes to No for testing-->
    <add key="QuickQuote_OpenPrintFormInNewWindow" value="Yes" />
    <!--Yes or No-->
    <add key="QuickQuote_Validate_IRPM_Factor" value="Yes" />
    <!--Yes or No-->
    <add key="QuickQuote_AllowEditAfterFinalize" value="Yes" />
    <!--Yes or No-->
    <!--should never be Yes in production-->
    <add key="QuickQuote_AutoPlayTrainingVideos" value="Yes" />
    <!--Yes or No-->
    <!--added 9/20/2012-->
    <add key="QuickQuote_RiskGrade_Replace3sWith2s" value="Yes" />
    <!--Yes or No-->
    <!--added 12/5/2012-->
    <add key="QuickQuote_RiskGrade_ReplacementRiskGradeLookupIdFor2" value="4" />
    <!--added 12/5/2012; Abrasive Wheel Mfg. (glclasscode = 50010)-->
    <add key="QuickQuote_UseDefaultQuoteTypeId" value="Yes" />
    <!--Yes or No-->
    <!--added 12/18/2012-->
    <add key="QuickQuote_QuoteTypeId_DefaultValue" value="1" />
    <!--0=N/A; 1=Quick Quote; 2=Full Quote; 3=Finalize Quote-->
    <!--added 12/18/2012-->
    <add key="QuickQuote_ShowQuoteEditButtonOnAppGapSummary" value="Yes" />
    <!--Yes or No-->
    <!--added 1/10/2013-->
    <add key="QuickQuote_DisplayAddresses_ReplaceCarriageReturnLineFeedsWithSpace" value="Yes" />
    <!--Yes or No-->
    <!--added 1/15/2013-->
    <add key="QuickQuote_DisplayAndSortNames_ReplaceCarriageReturnLineFeedsWithSpace" value="Yes" />
    <!--Yes or No-->
    <!--added 4/19/2013; 4/22/2013 - changed from QuickQuote_DisplayNames_ReplaceCarriageReturnLineFeedsWithSpace to QuickQuote_DisplayAndSortNames_ReplaceCarriageReturnLineFeedsWithSpace-->
    <add key="QuickQuote_DisplayNames_Exclude_DoingBusinessAs" value="Yes" />
    <!--Yes or No-->
    <!--added 4/22/2013-->
    <add key="QuickQuote_SortNames_Exclude_DoingBusinessAs" value="Yes" />
    <!--Yes or No-->
    <!--added 4/22/2013-->
    <add key="QuickQuote_UseNewButtonLayout" value="Yes" />
    <!--Yes or No-->
    <!--added 2/28/2013-->
    <!--Proposal Keys-->
    <!--<add key="QuickQuote_QuoteProposal" value="DiamondQuoteProposal.aspx?QuoteIds="/>-->
    <!--added 5/3/2013; must split quoteIds w/ pipe (|)-->
    <add key="QuickQuote_QuoteProposal" value="DiamondQuoteProposal.aspx?PrinterFriendlyQuoteIds=" />
    <!--added 5/3/2013; must split quoteIds w/ pipe (|)-->
    <add key="QuickQuote_QuoteProposalSelection" value="VRproposalSelection.aspx" />
    <!--added 5/6/2013-->
    <add key="QuickQuote_OpenProposalSelectionInNewWindow" value="No" />
    <!--Yes or No-->
    <!--added 5/7/2013-->
    <add key="QuickQuote_ShowProposalSelectionButton" value="Yes" />
    <!--Yes or No-->
    <!--added 5/7/2013-->
    <add key="QuickQuote_ShowProposalSelectionLink" value="Yes" />
    <!--Yes or No-->
    <!--added 5/7/2013-->
    <add key="QuickQuote_BOP_ProposalControlPath" value="controls/Proposal/BOP/uc_VRProposal_BOP.ascx" />
    <add key="QuickQuote_WCP_ProposalControlPath" value="controls/Proposal/WCP/uc_VRProposal_WCP.ascx" />
    <add key="QuickQuote_CGL_ProposalControlPath" value="controls/Proposal/CGL/Velocirater_Proposal_CGL_Control.ascx" />
    <add key="QuickQuote_CPR_ProposalControlPath" value="controls/Proposal/CPR/Velocirater_Proposal_CPR_Control.ascx" />
    <add key="QuickQuote_CPP_ProposalControlPath" value="controls/Proposal/CPP/Velocirater_Proposal_CPP_Control.ascx" />
    <add key="QuickQuote_CAP_ProposalControlPath" value="controls/Proposal/CAP/uc_VRProposal_CAP.ascx" />
    <add key="QuickQuote_GAR_ProposalControlPath" value="controls/Proposal/GAR/uc_VRProposal_GAR.ascx" />
    <!--added 5/15/2017-->
    <add key="QuickQuote_CIM_ProposalControlPath" value="controls/Proposal/CIM/Velocirater_Proposal_CIM_Control.ascx" />
    <!--added 5/15/2017-->
    <add key="QuickQuote_CRM_ProposalControlPath" value="controls/Proposal/CRM/Velocirater_Proposal_CRM_Control.ascx" />
    <!--added 5/15/2017-->
    <!--added logo keys 5/8/2013-->
    <add key="QuickQuote_Proposal_LogoWebPath" value="http://ifmwebtest/AgentsOnly/images/QuickQuoteProposal/" />
    <!--5/28/2013 - needs relative path on server (for PDF converter; gets 404 error)-->
    <add key="QuickQuote_Proposal_LogoSavePath" value="\\ifmwebtest\wwwroot\AgentsOnly\images\QuickQuoteProposal\" />
    <add key="QuickQuote_Proposal_LogoExtension" value=".jpg" />
    <!--should contain a valid image extension w/ the leading period-->
    <!--<add key="QuickQuote_Proposal_HeaderLogo" value="~/images/Icon Row Member Portal.jpg"/>-->
    <!--added 5/10/2013; must have full path or ~ (to get back to root) since used from controls in sub folder-->
    <!--<add key="QuickQuote_Proposal_MainPageLogo" value="~/images/New_logo.jpg" />-->
    <add key="QuickQuote_Proposal_MainPageLogo" value="~/images/Color Quote Proposal Logo 11-18.jpg" />
    <!--added new logo key 2/9/2021-->
    <add key="QuickQuote_Proposal_AboutHeader" value="~/images/AboutHeader.jpg" />
    <!--added new logo key 2/9/2021-->
    <add key="QuickQuote_Proposal_AboutUs" value="~/images/AboutUs.png" />
    <!--added new logo key 2/9/2021-->
    <!--<add key="QuickQuote_Proposal_HeaderLogo" value="~/images/IFMIntranetLogo-2013.jpg"/>-->
    <add key="QuickQuote_Proposal_HeaderLogo" value="~/images/Color Quote Proposal Logo 11-18.jpg" />
    <add key="QuickQuote_Proposal_FooterLogo" value="~/images/Color Quote Proposal Logo 11-18.jpg" />
    <!--<add key="QuickQuote_Proposal_HeaderLogo" value="~/images/BW Smart Very Smart Logo.jpg" />-->
    <add key="QuickQuote_Proposal_PdfConverter_SendErrorEmail" value="Yes" />
    <!--Yes or No; added 5/28/2013-->
    <add key="QuickQuote_Proposal_PdfConverter_DeleteHtmFile" value="Yes" />
    <!--Yes or No; added 5/28/2013-->
    <add key="QuickQuote_Proposal_PdfConverter_WaitForExitMilliseconds" value="20000" />
    <!--added 5/28/2013; needs to be numeric (4000 milliseconds = 4 seconds); 5/29/2013 - changed to 10 seconds on ifmwebtest-->
    <add key="QuickQuote_Proposal_PdfConverter_OpenPdfDirectly" value="Yes" />
    <!--Yes or No; added 5/29/2013-->
    <add key="QuickQuote_Proposal_PdfConverter_DeletePdfFile" value="Yes" />
    <!--Yes or No; added 5/29/2013-->
    <add key="MyAgencyLink" value="http://ifmwebtest/agentsonly/myagency.aspx" />
    <!--will be new to AgentsOnly-->
    <add key="AgentsLink" value="http://ifmwebtest/agentsonly/agents.aspx" />
    <add key="LogoutLink" value="http://ifmwebtest/agentsonly/ALogin.aspx?action=logout" />
    <add key="FullLogoutLink" value="http://ifmwebtest/NewPublicSite/NewPublicHome.aspx" />
    <add key="ChangePassword" value="http://ifmwebtest/AgentsOnly/changePassword.aspx" />
    <add key="ContactAgent" value="http://ifmwebtest/agentsonly/whoswho.aspx" />
    <add key="HomeLink" value="http://ifmwebtest" />
    <add key="OurCompany" value="http://ifmwebtest/NewPublicSite/NewPublicAboutUs.aspx" />
    <add key="NewsLink" value="http://ifmwebtest/agentsonly/Newsa.aspx" />
    <add key="ResourceLinks" value="http://ifmwebtest/public/Resource Links2.aspx" />
    <add key="ProductsLink" value="http://ifmwebtest/NewPublicSite/NewPublicProducts.aspx" />
    <add key="PrivacyPolicy" value="http://ifmwebtest/NewPublicSite/NewPublicPrivacyPolicy.aspx" />
    <add key="LegalNotice" value="http://ifmwebtest/NewPublicSite/NewPublicLegalNotice.aspx" />
    <add key="ContentLink" value="http://ifmwebtest/public/content.aspx" />
    <add key="StaffLink" value="http://ifmwebtest/agentsonly/agencysearch.aspx" />
    <add key="DiamondPortalSavedQuotesLink" value="http://ifmwebtest/agentsonly/Controlloader.aspx?QueryString=SavedQuotes" />
    <add key="DiamondPortalMainPageLink" value="http://ifmwebtest/agentsonly/Controlloader.aspx" />
    <add key="NewSiteImagesWebPath" value="http://ifmwebtest/NewPublicSite/images/" />
    <add key="AgentsOnlyImagesWebPath" value="http://ifmwebtest/AgentsOnly/images/" />
    <add key="NewSiteImage_Minus_Logo" value="minus.gif" />
    <add key="NewSiteImage_Plus_Logo" value="plus.gif" />
    <!--added 5/1/2017; needed w/ switch from DiamondQuickQuote to QuickQuote-->
    <add key="QuickQuote_StaticDataFile" value="\\ifmwebtest\wwwroot\ClassFiles\DiamondStaticData.xml" />
    <add key="QuickQuote_Proposal_OkayToSkipProposalLobDetailsForTesting" value="True" />
    <add key="Remove_RccBillingPayPlanCalendarDate" value="12/01/2024" />
    <!--Run locally and show summary stuff-->
    <!--False for Full(Don) local testing -->
    <!--added 7/11/2017; True/False; only used when TestOrProd key is Test-->
    <add key="QuickQuote_Proposal_ShowGenericPaymentOptions" value="True" />
    <!--added 7/12/2017; True/False-->
    <add key="QuickQuote_Proposal_ShowClientAndAgencyInfoForGenericPaymentOptions" value="False" />
    <!--added 7/12/2017; True/False; only used when QuickQuote_Proposal_ShowGenericPaymentOptions is True-->
    <add key="QuickQuote_Proposal_TryActualPaymentOptionsFirst" value="False" />
    <!--added 9/16/2017; True/False-->
    <add key="QuickQuote_Proposal_ActualPaymentOptions_DescriptionTextToIgnore" value="Account Bill|MTG" />
    <!--added 10/2/2017; uses contains; not case-sensitive; separate w/ pipe-->
    <add key="QuickQuote_Proposal_ActualPaymentOptions_SortBy" value="FriendlyDescriptionAscending" />
    <!--added 10/2/2017; see QuickQuotePaymentOption.SortBy for valid values (FriendlyDescriptionAscending, NumberOfInstallmentsDescendingThenFriendlyDescriptionAscending, etc.); default is FriendlyDescriptionAscending-->
    <add key="mailhost" value="indianafarmers-com.mail.protection.outlook.com" />
    <add key="Wkhtmltopdf_RequiredArguments" value="-q --javascript-delay 200" />
    <add key="Wkhtmltopdf_WaitForExitMilliseconds_Per_Trial" value="1000" />
    <add key="Wkhtmltopdf_MaxTrials" value="30" />
    <add key="VR_CAP_UM_UIM_UMPD_Settings" value="True,8/1/2025,360" />
    <!--*************** Feature Flags ***************-->
    <add key="Bug60875_Wkhtmltopdf" value="true" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <!--<authentication mode="Forms">
      <forms name="login" loginUrl="LocalLogin.aspx" protection="All" timeout="30">
      </forms>
    </authentication>-->
    <authorization>
      <!-- <allow users="*" />  Allow all users -->
      <!--<deny users="?" />-->
    </authorization>
    <customErrors mode="Off" />
    <pages controlRenderingCompatibilityVersion="4.0">
      <controls>
        <!--<add tagPrefix="ajax" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit, Version=4.1.50731.0, Culture=neutral, PublicKeyToken=28f01b0e84b6d53e"/>-->
      </controls>
    </pages>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.8">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <!--<add assembly="AjaxControlToolkit, Version=4.1.50731.0, Culture=neutral, PublicKeyToken=28f01b0e84b6d53e"/>-->
        <add assembly="System.Data.OracleClient, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Net, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.ServiceProcess, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="WindowsBase, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <httpRuntime requestValidationMode="2.0" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <!--<dependentAssembly>
        <assemblyIdentity name="AjaxControlToolkit" publicKeyToken="28f01b0e84b6d53e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.50731.0" newVersion="4.1.50731.0" />
      </dependentAssembly>-->
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!--<system.codedom>
    <compilers>
      <compiler extension=".cs" language="c#;cs;csharp" warningLevel="4" compilerOptions="/langversion:7.3 /nowarn:1659;1699;1701;612;618" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=3.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <compiler extension=".vb" language="vb;vbs;visualbasic;vbscript" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008,40000,40008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=3.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </compilers>
  </system.codedom>-->
</configuration>