<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="enterpriseLibrary.ConfigurationSource" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.ConfigurationSourceSection, Microsoft.Practices.EnterpriseLibrary.Common, Version=3.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <section name="microsoft.web.services3" type="Microsoft.Web.Services3.Configuration.WebServicesConfiguration, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </configSections>
    <enterpriseLibrary.ConfigurationSource selectedSource="EnterpriseLibraryConfigurationFile">
        <sources>
            <add name="EnterpriseLibraryConfigurationFile" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.FileConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common, Version=3.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" filePath="EnterpriseLibraryConfiguration.config" />
        </sources>
    </enterpriseLibrary.ConfigurationSource>
    <microsoft.web.services3>
        <!--<policy fileName="wse3UserNamePolicyCache.config" />-->
        <policy fileName="wse3KerberosPolicyCache.config" />
    </microsoft.web.services3>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog" />
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" /></startup>
  <appSettings file="diaAppSettings.config">
    <!--Connections-->
    <add key="conn" value="Server=ifmsqltest;UID=ifmdsn;PWD=ifmdsn;Initial Catalog=ifmtester;"></add>
    <add key="connQM" value="Server=ifmimgsql;UID=ifmdsn;PWD=ifmdsn;Initial Catalog=IndianaFarmers;"></add>
    <add key="connQMSASM" value="Server=ifmimgsql;UID=ifmdsn;PWD=ifmdsn;Initial Catalog=IndianaFarmersSASM;"></add>
    <add key="connAcct" value="Server=ifmsqltest;UID=ifmdsn;PWD=ifmdsn;Initial Catalog=ifmacct;max pool size=400;"></add>
    <add key="connDEV" value="Server=ifmsqldev;UID=ifmdsn;PWD=ifmdsn;Initial Catalog=ifmclaimslossreporting;Max Pool Size=400;"></add>
    <!--<add key="connDiamond" value="Server=ifmdiasqlqa\developers;UID=diamond;PWD=diamond1;Initial Catalog=Diamond;max pool size=400;"/>-->
    <add key="connDiamond" value="Server=ifmdiasqlqa;UID=ifmdsn;PWD=ifmdsn;Initial Catalog=Diamond;max pool size=400;" />
    <!--End Connections-->

    <!--Mailhost and Other Keys-->
    <!--<add key="mailhost" value="relay.mail.twtelecom.net"/>-->
    <!--<add key="mailhost" value="mail.egix.net"/>-->
    <add key="mailhost" value="ifmex2" />
    <!--End Mailhost and Other Keys-->

    <add key="TestDiamondTokenUserName" value="PrintServices" />
    <add key="TestDiamondTokenPassWord" value="PrintServices" />
    
    <!--key below needed for 520 change-->
    <add key="SetProxyBaseSecurityTokenWhenNeeded" value="YES" />

    <add key="TestOrProd" value="Test" />

    <!--3/13/2013 - added key to optionally suppress billing receipt on EFT payments-->
    <add key="ApplyCash_SuppressBillingReceiptForEftPayments" value="YES" /><!--Yes or No-->
    
    <!--6/25/2013-->
    <add key="DiamondClaimsFNOL_ReportedDate_UseLossDate" value="YES" /><!--Yes or No; will use current date if No-->
    <!--<add key="DiamondClaimsFNOL_OkayToAddInsuredClaimants" value="NO"/>--><!--Yes or No (defaulted to No); added 7/27/2016 to correct duplication of Insured Claimants since InsureSoft backend logic appears to automatically add them in 531; removed key 7/28/2016 in leiu of DiamondClaimsFNOL_OmitInsuredClaimants so the default behavior would be to add them from our code-->
    <add key="DiamondClaimsFNOL_OmitInsuredClaimants" value="NO" /><!--Yes or No (defaulted to No so code would add them; added 7/28/2016 in case our code is causing duplication of Insured Claimants since InsureSoft backend logic may automatically add them in 531)-->
    <add key="DiamondClaimsFNOL_OmitInsuredClaimantsLossTypesOverride" value="AUTO" />
      <!-- Comma-delimited list of claim types (valid values: AUTO, LIABILITY, PROPERTY) to include in the OmitInsuredClaimants logic. Only applies when the DiamondClaimsFNOL_OmitInsuredClaimants = NO Added 2/22/2022 MGB Task 18670 -->
    <!--Yes or No (defaulted to No so code would add them; added 7/28/2016 in case our code is causing duplication of Insured Claimants since InsureSoft backend logic may automatically add them in 531)-->


    <!--7/15/2013-->
    <add key="UseQuoteMaster" value="NO" /><!--Yes or No; will default to No if config key is missing-->
        
    <add key="AutoIdCards_Print_AllOrOne" value="ALL" /><!--added 6/16/2015; determines whether or not Diamond print forms will be combined into one; valid values are ALL, FIRSTONE, and LASTONE-->
    <add key="AutoIdCards_Print_IgnorePrintXmlId_WhenPolicyIdAndImageNum" value="NO" /><!--added 6/16/2015; determines whether or not printXmlId is used to pull Diamond print forms if both policyId and imageNum are available... in case Endorsements have different printXmlId-->
    
    <!--added 1/25/2022-->
    <add key="UsePasswordMustBeChangedFlagFromDiamondLoginResponseInsteadOfDatabase" value="True" /><!--Yes/No, True/False; default is True so only needed if it should be changed to False-->
    <add key="UseNewLogicToPopulateDiamondUserAgencyInfo" value="True" /><!--added 3/21/2022; Yes/No, True/False; default is True so only needed if it should be changed to False-->
    <add key="DiamondWebClassDiamondSecurity_Admin_ModifyWebUser_ContinueToSecurityQuestionsForStaffOnSaveUserWithNoValidations" value="True" /><!--Yes/No, True/False; default is True so only needed if it should be changed to False-->

    <add key="Dec_PrintRecipientId" value="4" /> <!--4 = Insured; CAH 4/3/2023-->

    <add key="DiamondClaimsFNOL_SetLnImageNoteProps" value="NO" /><!--Yes/No; True/False-->
    <add key="DiamondClaimsFNOL_SetLnImageNoteProps_OnlyIfKeyExists" value="NO" /><!--Yes/No; True/False; if True/Yes, will ignore Diamond props that don't have corresponding keys; if False/No, will always set Diamond props to at least default values-->
    <add key="DiamondClaimsFNOL_LnImageNotesDefault" value=""/><!--string-->
    <add key="DiamondClaimsFNOL_LnImageNotesTypeIdDefault" value=""/><!--integer-->
    <add key="DiamondClaimsFNOL_LnImageNoteTitleDefault" value=""/><!--string-->
    <add key="DiamondClaimsFNOL_CaptureLnImageNotePropsViaEmail" value="NO" /><!--Yes/No; True/False; Diamond's default values before we potentially overwrite them-->
    <add key="DiamondClaimsFNOL_CreateDiamondXmlsForTesting" value="NO"/><!--Yes/No; True/False; only used if DiamondClaimsFNOL_DiamondXmlsSaveDirectory is valid-->
    <add key="DiamondClaimsFNOL_DiamondXmlsSaveDirectory" value=""/><!--only used when DiamondClaimsFNOL_CreateDiamondXmlsForTesting is Yes/True-->
	<add key="DiamondClaimsFNOL_CCCClaimsEnabled" value="True" />
		<!--only used when DiamondClaimsFNOL_CCCClaimsEnabled is True it only exists in Patch and Prod env -->

  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Mapster" publicKeyToken="2f39883af23c29a8" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.3.0.0" newVersion="7.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
