<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DiamondServicesBuildOnly" version="538.12.0" targetFramework="net48" developmentDependency="true" />
  <package id="IFM.CommonClassesDeploy" version="2023.10.25.1721" targetFramework="net48" />
  <package id="IFM.CommonInputValidation" version="2021.7.8.100" targetFramework="net48" />
  <package id="IFM.DataServicesClientModels" version="2024.10.22.837-beta" targetFramework="net48" />
  <package id="IFM.IFMDataServicesCore_Models" version="2024.10.22.100" targetFramework="net48" />
  <package id="IFM.JsonProxyClient" version="2022.4.25.100" targetFramework="net48" />
  <package id="IFM.Logging" version="1.1.6980.37119" targetFramework="net48" />
  <package id="IFM.PrimitiveExtensions" version="2022.12.1.1449" targetFramework="net48" />
  <package id="InsuresoftServices" version="531.9.2200.1" targetFramework="net48" />
  <package id="Microsoft.NETCore.Platforms" version="1.1.0" targetFramework="net48" />
  <package id="NETStandard.Library" version="2.0.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net48" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net48" />
</packages>